<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>A Being of Light</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        A Being of Light<small class="by">~by Elio Torres</small>
      </div>
      <div class="hard">
      <div class="hard"></div>

      <div>
        <h1 class="text">A Being of Light</h1>
      </div>

      <div>
        <p class="text">The flowers would love to have your colors,<br>the universe would love to preserve your light.</p>
      </div>

      <div>
        <p class="text">A light that comes from the jungle, known by mystical beings,<br>ancient indigenous people,<br>keepers of the truth.</p>
      </div>

      <div>
        <p class="text">Whoever discovers you, never tires of exploring<br>your vertices, your countless sides.</p>
      </div>

      <div>
        <p class="text">Maybe because beauty is invisible to the eye,<br>or because our senses<br>alter everything around us.</p>
      </div>

      <div>
        <p class="text">You are a mystery that defies punishment,<br>piling behind the road<br>you’ve walked.</p>
      </div>

      <div>
        <p class="text">For you, life is pleasure and joy: you cry,<br>you laugh, and you’re a firefly<br>that refuses to be lost in the night’s darkness.</p>
      </div>

      <div>
        <p class="text">You dance when you walk, walk when<br>you decide to dance. You have the courage of a tigress<br>and deep down, deep down, you’re a dreamer<br>ready to turn her legacy into a halo of Faith.</p>
      </div>

      <div>
        <p class="text">You fear no new terrain, no obstacle stops you,<br>and you defend every inch<br>you’ve conquered.</p>
      </div>

      <div>
        <p class="text">You are a ship with sails made of sugarcane scented with<br>coffee. You know no limits.</p>
      </div>

      <div>
        <p class="text">Who could wrap your waist forever and<br>set out on a journey with no return,<br>toward the past from the present,<br>not wanting the future to bid a final farewell?</p>
      </div>

      <div>
        <p class="text">The waves come and go in an endless ride.<br>I wake up and you’re there, upright,<br>earthly and passionate.</p>
      </div>

      <div>
        <p class="text">Ready to ask questions with a child’s curiosity,<br>eager to discover tomorrow.</p>
      </div>

      <div>
        <p class="text">Who am I to walk by your side? Am I ready<br>to play guitar in a duel with the tres?</p>
      </div>

      <div>
        <p class="text">First I should read the star charts I keep<br>in an old chest, and then, only then,<br>will I tear them up and let your womanly spell<br>find the north, in a relationship<br>without a name but as strong as oak,<br>and tall as bamboo.</p>
      </div>

      <div>
        <p class="text">I’ll only stop believing in you when the last galaxy is discovered, to which I’ll give your name<br>so that you remain suspended in space<br>and return to being cosmic dust, like all of us.</p>
      </div>

      <div>
        <p class="text">My memory of you is the essence of all I write,<br>and without obsession, I describe you with pleasure,<br>and feel fortunate to know a woman like you.</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras" aria-label="Volver">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>