<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>A Whole Woman</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        A Whole Woman<small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div>
        <h1 class="text">A Whole Woman</h1>
      </div>

      <div>
        <p class="text">Once, the voice of a woman was heard,<br>and a bird flew by, unintentionally,<br>defining the expression of a song with its flight.</p>
      </div>

      <div>
        <p class="text">Stronger than the sound of thunder,<br>is your character, turning into jasmine scent<br>when you're happy—which is always.</p>
      </div>

      <div>
        <p class="text">Defining your body, like a well-tuned guitar,<br>its sound rhythmic, sweetly stirred.</p>
      </div>

      <div>
        <p class="text">Who would have thought? Your kisses are poetry,<br>and you believe not in<br>cowardices that could ruin your day.</p>
      </div>

      <div>
        <p class="text">It's half past nine, and nervously I await<br>your queenly arrival—your voice rings out, teaching<br>how to dream of the future, and no one dares let that smile of yours drift in through the window.</p>
      </div>

      <div>
        <p class="text">It wraps in affection, and I, like a child,<br>cannot sleep because I quarrel with angels—and with you.</p>
      </div>

      <div>
        <p class="text">You are a gentle dawn, your sword at your right hand,<br>used to deliver the final blow,<br>and craft stars out of nothing.</p>
      </div>

      <div>
        <p class="text">I think of you every morning, you're like an apple,<br>with a flavor like no other—your scent, like dew,<br>fills the whole room.</p>
      </div>

      <div>
        <p class="text">You sit on your balcony,<br>breathing fresh air—you are a whole woman<br>to whom I belong.</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/en" class="atras" aria-label="Volver">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>