<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Free Like the Wind</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Free Like The Wind  <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div>
        <h1 class="text">Free Like the Wind</h1>
      </div>

      <div>
        <p class="text">Truth is, I feel you everywhere—<br>at dawn with the Sun, and the rooster’s first crow,</p>
      </div>

      <div>
        <p class="text">your hair like a whirlwind crossing space,<br>without giving or asking for a truce.</p>
      </div>

      <div>
        <p class="text">You are welcome wherever you go—<br>perhaps for your sincere smile,</p>
      </div>

      <div>
        <p class="text">and your charitable soul.</p>
      </div>

      <div>
        <p class="text">I breathe and there is your fresh scent,<br>like grass in full spring.</p>
      </div>

      <div>
        <p class="text">I long to talk to you every day, seeking the joy your words always give me.</p>
      </div>

      <div>
        <p class="text">Perhaps I live on a bed of foam, like a wave<br>that comes and goes,</p>
      </div>

      <div>
        <p class="text">carried by the breeze of your special charm.</p>
      </div>

      <div>
        <p class="text">Where are you? I don’t expect a direct answer.<br>I know you are everywhere—</p>
      </div>

      <div>
        <p class="text">in a child’s dream,<br>in the will of one who fights to survive honestly,</p>
      </div>

      <div>
        <p class="text">in the virtue of trees that grow nearly forever,<br>bringing life wherever they are,</p>
      </div>

      <div>
        <p class="text">expecting nothing in return—or perhaps—<br>a little love for their neighbor.</p>
      </div>

      <div>
        <p class="text">I feel you belong to no one, and to everyone,<br>for you spread love around you like someone</p>
      </div>

      <div>
        <p class="text">watering their garden.</p>
      </div>

      <div>
        <p class="text">The world is yours, don’t ask permission,<br>you are everyone’s and no one’s,</p>
      </div>

      <div>
        <p class="text">because the wind has no owner.</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/en" class="atras" aria-label="Volver">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>