<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Fusion</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Fusion<small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div>
        <h1 class="text">Fusion</h1>
      </div>

      <div>
        <p class="text">I want to crash into you like the waves do against<br>rocks, like the wind caresses the<br>mountains.</p>
      </div>

      <div>
        <p class="text">I wake up every day thinking the same, give me the<br>opportunity to touch you to infinity,<br>to make real that myth<br>your presence becomes, and feel your essence<br>all over my room.</p>
      </div>

      <div>
        <p class="text">I know you want to give me a little kiss, and run off<br>like a schoolgirl, but inside me<br>explodes the passion kept only for you.</p>
      </div>

      <div>
        <p class="text">I want you to give me a night, which surely<br>will be unforgettable, me caressing your figure and you<br>crying for me to keep going, not to stop at the<br>beginning, to take you to the edge, and make you<br>fly<br>from there.</p>
      </div>

      <div>
        <p class="text">I know we are compatible, like night and day,<br>the poet and the poetry, just like the Sun and the stars.</p>
      </div>

      <div>
        <p class="text">I feel I’m close, that when I turn<br>you will be my princess, and there will be no more sadness,<br>and we will be one, we’ll dominate the sky.</p>
      </div>

      <div>
        <p class="text">We’ll travel endlessly until we reach the orgasm<br>without end.</p>
      </div>

      <div>
        <p class="text">You are the one who excites me, and with me you feel like a woman,<br>and you want to wear a<br>transparent blouse, trying to cloud my mind, but my<br>venom is present in every<br>word I say, and I make you sob all over<br>wherever I am, whether it’s a kiss on your<br>neck,</p>
      </div>

      <div>
        <p class="text">or caressing your hair, working tirelessly, to<br>make you feel like the only girl in my story.</p>
      </div>

      <div>
        <p class="text">The time we are together will surely stay<br>in my memory, merging so<br>deeply that we become nothing but atoms.</p>
      </div>

      <div>
        <p class="text">Dividing us will be impossible, our love story will be<br>believable, we will be the most envied<br>couple in the world. From the depths<br>of your heart a voice will rise, of a satisfied girl, and our love affair will have neither time nor place.</p>
      </div>

      <div>
        <p class="text">It will be like visiting Europe, visiting Athens and Lisbon,<br>also passing through Paris, telling you<br>from there, baby, I desire you.</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/en" class="atras" aria-label="Volver">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>