<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>I Am</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        I ' am <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div>
        <h1 class="text">I Am</h1>
      </div>

      <div>
        <p class="text">I am the spirit of a runaway slave,<br>the mambí of the 21st century,</p>
      </div>

      <div>
        <p class="text">The one who never waits for a call,<br>the one who is always present when it hurts.</p>
      </div>

      <div>
        <p class="text">I am the borderless heterosexual,<br>The one who is not afraid to die at the stake,<br>for inquisitive stares.</p>
      </div>

      <div>
        <p class="text">I am the one who suffers with my brother’s pain,<br>The one who does not fear<br>and sometimes prefers to lend a hand to a stranger.</p>
      </div>

      <div>
        <p class="text">I am the one who, with a frown,<br>gives thanks without wasting a word,</p>
      </div>

      <div>
        <p class="text">I am the one who, during my conversations with my pillow,<br>Saves words and sparks the wool.</p>
      </div>

      <div>
        <p class="text">I am the son, the brother, and the uncle,<br>The one who wakes with a sigh<br>that echoes in the inhospitable jungle of tomorrow.</p>
      </div>

      <div>
        <p class="text">I am the one who wanders in the darkest nights,<br>Seeking the light that dwells within me.</p>
      </div>

      <div>
        <p class="text">I am the rifle, I am the bullet,<br>I am the pencil and the paper,</p>
      </div>

      <div>
        <p class="text">I am that dictionary, changing every day,<br>Adapting, to the narrator, the poet, and the suicidal.</p>
      </div>

      <div>
        <p class="text">I am the one who strips down<br>and leaves his soul in every act,</p>
      </div>

      <div>
        <p class="text">I am the one who honors the pact<br>once made by our ancestors.</p>
      </div>

      <div>
        <p class="text">I am candomblé,<br>I am Changó,<br>I am Orula.</p>
      </div>

      <div>
        <p class="text">I do not trade my figure to appear whiter,<br>Because Black is purer than a cigar,</p>
      </div>

      <div>
        <p class="text">I am more than the reflection in my mirror<br>where I see myself daily,</p>
      </div>

      <div>
        <p class="text">I am the one who believes in God,<br>and in prayer I go walking and loving.</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/en" class="atras" aria-label="Back">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>