<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>I Am</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        I ' am <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div>
        <h1 class="text">I Am</h1>
      </div>

      <div>
        <p class="text">I am the spirit of a runaway slave, the mambí of<br>the 21st century,</p>
      </div>

      <div>
        <p class="text">The one who never waits for a call, the one who is<br>always present when it hurts.</p>
      </div>

      <div>
        <p class="text">I am the borderless heterosexual,<br>The one who is not afraid to die at the stake, for inquisitive stares.</p>
      </div>

      <div>
        <p class="text">I am the one who suffers with my brother’s pain,<br>The one who does not fear and sometimes prefers to lend a hand<br>to a stranger.</p>
      </div>

      <div>
        <p class="text">I am the one who, with a frown, gives thanks<br>without wasting a word,</p>
      </div>

      <div>
        <p class="text">I am the one who, during my conversations with<br>my pillow,<br>Saves words and sparks the wool.</p>
      </div>

      <div>
        <p class="text">I am the son, the brother, and the uncle,<br>The one who wakes with a sigh that echoes in the<br>inhospitable jungle of tomorrow.</p>
      </div>

      <div>
        <p class="text">I am the one who wanders in the darkest nights,<br>Seeking the light that dwells within me.</p>
      </div>

      <div>
        <p class="text">I am the rifle, I am the bullet, I am the pencil and the paper,<br>I am that dictionary, changing every day,</p>
      </div>

      <div>
        <p class="text">Adapting, to the narrator, the poet, and the suicidal.<br>I am the one who strips down and leaves his soul in every<br>act,</p>
      </div>

      <div>
        <p class="text">I am the one who honors the pact once made<br>by our ancestors.</p>
      </div>

      <div>
        <p class="text">I am candomblé, I am Changó, I am Orula.</p>
      </div>

      <div>
        <p class="text">I do not trade my figure to appear whiter,<br>Because Black is purer than a cigar,</p>
      </div>

      <div>
        <p class="text">I am more than the reflection in my mirror where I<br>see myself daily, I am the one who believes in God, and in prayer<br>I go walking and loving.</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras" aria-label="Back">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>