<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>I Know…</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        I Know...<small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div>
        <h1 class="text">I Know…</h1>
      </div>

      <div>
        <p class="text">I know of the farthest stars,<br>but have never visited them,</p>
      </div>

      <div>
        <p class="text">I know of the Alps and Everest,<br>yet I’ve never been there.</p>
      </div>

      <div>
        <p class="text">I know of loves that hurt,<br>even when they say they’ve ended.</p>
      </div>

      <div>
        <p class="text">I know that you know I know,<br>but I’m lost in knowing it.</p>
      </div>

      <div>
        <p class="text">I know how to dance during carnival,</p>
      </div>

      <div>
        <p class="text">and hear the silence of a child’s laughter.</p>
      </div>

      <div>
        <p class="text">I know of those who stand on the edge of the cliff</p>
      </div>

      <div>
        <p class="text">And without thinking of a new beginning,<br>have collapsed.</p>
      </div>

      <div>
        <p class="text">I know of the clouds of the past,</p>
      </div>

      <div>
        <p class="text">and of who stands by your side<br>in your saddest moments.</p>
      </div>

      <div>
        <p class="text">I know who feeds birdseed to the pigeons,</p>
      </div>

      <div>
        <p class="text">And dreams of flying far away,</p>
      </div>

      <div>
        <p class="text">waiting for wings to grow<br>while sitting on his balcony.</p>
      </div>

      <div>
        <p class="text">I know of old souls that never die</p>
      </div>

      <div>
        <p class="text">and go from one generation to the next,</p>
      </div>

      <div>
        <p class="text">growing and fulfilling their mission.</p>
      </div>

      <div>
        <p class="text">I know the betrayal of a loved one,</p>
      </div>

      <div>
        <p class="text">and forgiveness without it being asked for,</p>
      </div>

      <div>
        <p class="text">From many I have hurt.</p>
      </div>

      <div>
        <p class="text">I know of cowardly feelings that boast<br>of destroying all illusion with hatred.</p>
      </div>

      <div>
        <p class="text">I know who saves a book from a hurricane.</p>
      </div>

      <div>
        <p class="text">I know many things,</p>
      </div>

      <div>
        <p class="text">and what I don’t know,<br>at first, I can’t stand—because it’s inside me.</p>
      </div>

      <div>
        <p class="text">I know what a stolen kiss is,</p>
      </div>

      <div>
        <p class="text">and another one abused<br>in a night of passion.</p>
      </div>

      <div>
        <p class="text">I know—and I keep it to myself—</p>
      </div>

      <div>
        <p class="text">why poets write,</p>
      </div>

      <div>
        <p class="text">and why a violet undresses with pleasure.</p>
      </div>

      <div>
        <p class="text">I know of dawn</p>
      </div>

      <div>
        <p class="text">and of those who love without condition,</p>
      </div>

      <div>
        <p class="text">I know of the crucifixion<br>of those who refuse to walk the path.</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/en" class="atras" aria-label="Back">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>