<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>I Know…</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        I Know...<small class="by">~by Elio Torres</small>
      </div>
      <div class="hard">
      <div class="hard"></div>

      <div>
        <h1 class="text">I Know…</h1>
      </div>

      <div>
        <p class="text">I know of the farthest stars, but have never<br>visited them,</p>
      </div>

      <div>
        <p class="text">I know of the Alps and Everest, yet I’ve never been there.</p>
      </div>

      <div>
        <p class="text">I know of loves that hurt, even when they say<br>they’ve ended.</p>
      </div>

      <div>
        <p class="text">I know that you know I know, but I’m lost in<br>knowing it.</p>
      </div>

      <div>
        <p class="text">I know how to dance during carnival, and hear the silence<br>of a child’s laughter.</p>
      </div>

      <div>
        <p class="text">I know of those who stand on the edge of the cliff<br>And without thinking of a new beginning,<br>have collapsed.</p>
      </div>

      <div>
        <p class="text">I know of the clouds of the past, and of who stands by your<br>side<br>in your saddest moments.</p>
      </div>

      <div>
        <p class="text">I know who feeds birdseed to the pigeons,<br>And dreams of flying far away, waiting for<br>wings to grow<br>while sitting on his balcony.</p>
      </div>

      <div>
        <p class="text">I know of old souls that never die and go<br>from one generation to the next, growing and fulfilling their<br>mission.</p>
      </div>

      <div>
        <p class="text">I know the betrayal of a loved one, and forgiveness<br>without it being asked for,<br>From many I have hurt.</p>
      </div>

      <div>
        <p class="text">I know of cowardly feelings that boast<br>of destroying all illusion with hatred.</p>
      </div>

      <div>
        <p class="text">I know who saves a book<br>from a hurricane. I know many things, and what I don’t know,<br>at first, I can’t stand—because it’s inside me.</p>
      </div>

      <div>
        <p class="text">I know what a stolen kiss is, and another one abused<br>in a night of passion.</p>
      </div>

      <div>
        <p class="text">I know—and I keep it to myself—<br>why poets write, and why a violet<br>undresses with pleasure.</p>
      </div>

      <div>
        <p class="text">I know of dawn and of those who love without<br>condition,</p>
      </div>

      <div>
        <p class="text">I know of the crucifixion of those who refuse to walk the path.</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras" aria-label="Back">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>