<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Lost Steps</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Lost Steps<small class="by">~by Elio Torres</small>
      </div>
      <div class="hard">
      <div class="hard"></div>

      <div>
        <h1 class="text">Lost Steps</h1>
      </div>

      <div>
        <p class="text">Step by step you reach the summit,<br>unafraid of what’s to come—</p>
      </div>

      <div>
        <p class="text">with doubt, but with courage, with feeling<br>you tame<br>the fear we carry inside.</p>
      </div>

      <div>
        <p class="text">Walking within<br>a great hall, where your steps are not heard,<br>but a sepulchral silence is felt,</p>
      </div>

      <div>
        <p class="text">principles lost,<br>taking steps<br>without meaning, without falling wounded<br>for not having properly asked<br>for the morning breakfast, rising with care,</p>
      </div>

      <div>
        <p class="text">singing<br>an old melody, reciting poems by<br>an unknown author,</p>
      </div>

      <div>
        <p class="text">receiving bullets of insomnia while seeking<br>those missteps<br>we once took in life,</p>
      </div>

      <div>
        <p class="text">receiving and giving, like the sweet stampede<br>of unicorns,</p>
      </div>

      <div>
        <p class="text">and living in a Parnassus, with muses that urge us<br>to write more each day, embracing every part,</p>
      </div>

      <div>
        <p class="text">without falling into dead letters that separate us from art,<br>solving riddles and searching for life on Mars.</p>
      </div>

      <div>
        <p class="text">I am not afraid of my steps being lost,<br>exploring the other side of the Moon, or that fortune may come<br>when these verses<br>stay in the memory of the passerby,</p>
      </div>

      <div>
        <p class="text">expecting nothing in return.</p>
      </div>

      <div>
        <p class="text">Dancing on stage to the rhythm of Bach, or who knows—<br>stepping to a<br>pasillo with La Original de Manzanillo,</p>
      </div>

      <div>
        <p class="text">or catching the pace of the<br>Guayabito conga, hearing the cry of those<br>swaying, shouting:</p>
      </div>

      <div>
        <p class="text">There are no lost steps, the girl tearing her dress,<br>the boy<br>watching uneasily—don’t fall asleep<br>now that the night<br>is beginning, clearly drawing the restlessness<br>of morning, sounding</p>
      </div>

      <div>
        <p class="text">an old bell, marking the start of a<br>walk, remembering<br>the steps that get lost to reach the goal,</p>
      </div>

      <div>
        <p class="text">tossing flowers from a<br>shotgun.</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras" aria-label="Volver">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>