<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Luminous People</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Luminous People<small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div>
        <h1 class="text">Luminous People</h1>
      </div>

      <div>
        <p class="text">Talking to you makes me aim for many things,</p>
      </div>

      <div>
        <p class="text">For example, to love roses more,<br>To let the thorns go by.</p>
      </div>

      <div>
        <p class="text">To turn sadness into a halo of light,</p>
      </div>

      <div>
        <p class="text">To transform energy with great restlessness.</p>
      </div>

      <div>
        <p class="text">To gaze at the Moon, with a voice of survival,</p>
      </div>

      <div>
        <p class="text">Awakening the wolf I carry inside.</p>
      </div>

      <div>
        <p class="text">Overcoming absences with your company,</p>
      </div>

      <div>
        <p class="text">Reciting Neruda’s verses,</p>
      </div>

      <div>
        <p class="text">Collecting stones without meaning to,</p>
      </div>

      <div>
        <p class="text">Until creating buildings with a brush.</p>
      </div>

      <div>
        <p class="text">I receive your words like someone<br>Who drinks water in an immense desert,</p>
      </div>

      <div>
        <p class="text">And naked I dive into an unexplored river,</p>
      </div>

      <div>
        <p class="text">Emerging new and triumphant once more.</p>
      </div>

      <div>
        <p class="text">With your presence by my side, I begin to open doors,</p>
      </div>

      <div>
        <p class="text">It helps me find the key to my most<br>precious chest, having you close</p>
      </div>

      <div>
        <p class="text">I overcome anxiety,</p>
      </div>

      <div>
        <p class="text">I sincerely receive your advice,</p>
      </div>

      <div>
        <p class="text">and I’m certain of thinking less and acting more.</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/en" class="atras" aria-label="Volver">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>