<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Mambí Race</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Mambi Race<small class="by">~by Elio Torres</small>
      </div>
      <div class="hard">
      <div class="hard"></div>

      <div>
        <h1 class="text">Mambí Race</h1>
      </div>

      <div>
        <p class="text">Since I was a child, I learned history.</p>
      </div>

      <div>
        <p class="text">They told me of Maceo, Gómez, and Martí.</p>
      </div>

      <div>
        <p class="text">Of the race that divides and deceives us,<br>of prejudice—and also virtue.</p>
      </div>

      <div>
        <p class="text">"There are no races," Martí said,<br>Guillén bore witness,</p>
      </div>

      <div>
        <p class="text">I agree with Fernando Ortiz and the Indian Naborí.</p>
      </div>

      <div>
        <p class="text">We Cubans are a Mambí race—<br>that, I truly learned.</p>
      </div>

      <div>
        <p class="text">There are many examples of racism,<br>I view them with pessimism—<br>they haven’t ended yet.</p>
      </div>

      <div>
        <p class="text">They forget who fought the enemy—<br>we all did, with no distinction.</p>
      </div>

      <div>
        <p class="text">Don’t divide us, that’s called betrayal.</p>
      </div>

      <div>
        <p class="text">Let our passion run free,<br>don’t make the equation vague.</p>
      </div>

      <div>
        <p class="text">Every case boils down to our actions.</p>
      </div>

      <div>
        <p class="text">I remember what was raised in France,<br>in that glorious 19th century—</p>
      </div>

      <div>
        <p class="text">We are all moved by a lovely melody:<br>Liberty, Equality, and Fraternity.</p>
      </div>

      <div>
        <p class="text">Winter nights are cold,<br>and I dream of a world of the Mambí Race.</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras" aria-label="Volver">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>