<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>My Angels and My Demons</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        My angels and my demons<small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div>
        <h1 class="text">My Angels and My Demons</h1>
      </div>

      <div>
        <p class="text">Seven chimes ring from an abandoned church,</p>
      </div>

      <div>
        <p class="text">and a pair of angels awaken me,</p>
      </div>

      <div>
        <p class="text">I open my eyes and hear an old tune,</p>
      </div>

      <div>
        <p class="text">that wraps me, and leads me to succumb to my demons.</p>
      </div>

      <div>
        <p class="text">They’re resolved not to leave me in peace,</p>
      </div>

      <div>
        <p class="text">they show me the shortest path to hell.</p>
      </div>

      <div>
        <p class="text">Time stops and the saving angels come to me,</p>
      </div>

      <div>
        <p class="text">and without asking much,</p>
      </div>

      <div>
        <p class="text">they switch the roles, and without visa or passport,</p>
      </div>

      <div>
        <p class="text">they take you northward, because that's where everyone goes.</p>
      </div>

      <div>
        <p class="text">I discover that my demons are inside me,</p>
      </div>

      <div>
        <p class="text">they’ve always lived feeding on intrigue, hatred,</p>
      </div>

      <div>
        <p class="text">envy and despair, piling up for years.</p>
      </div>

      <div>
        <p class="text">My angels are not afraid, they’ve never lost a battle,</p>
      </div>

      <div>
        <p class="text">I spin my siguaraya branch,</p>
      </div>

      <div>
        <p class="text">and my orishas, standing tall, lift me up,</p>
      </div>

      <div>
        <p class="text">make the inner battle easier.</p>
      </div>

      <div>
        <p class="text">The river stones echo,</p>
      </div>

      <div>
        <p class="text">and an old man laughs staring into a bottomless pit,</p>
      </div>

      <div>
        <p class="text">which lives in his mind,</p>
      </div>

      <div>
        <p class="text">lurking even at the death of a simple ant,</p>
      </div>

      <div>
        <p class="text">reciting Neruda’s poems by heart.</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/en" class="atras" aria-label="Volver">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>