<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Mirage</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Mirage <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div>
        <h1 class="text">Mirage</h1>
      </div>

      <div>
        <p class="text">Where is the truth?<br>Maybe in a desert without end.</p>
      </div>

      <div>
        <p class="text">Where good and bad words are seen,<br>Where bad omens are kept in a vault,</p>
      </div>

      <div>
        <p class="text">Where it gets dark early at a vampire’s party,<br>Who knows where we are when we tell the truth?</p>
      </div>

      <div>
        <p class="text">Are we in the promised heaven,<br>or living in a happy hell?</p>
      </div>

      <div>
        <p class="text">Will our awakening come tomorrow?<br>Who will guide us through the process?</p>
      </div>

      <div>
        <p class="text">Will we be a source?<br>Or water that flows across the planet and invades our calm?</p>
      </div>

      <div>
        <p class="text">Is what we see the truth?<br>Are we truly blessed?</p>
      </div>

      <div>
        <p class="text">Will we have to come and go with our sorrows<br>and rise from fears that blind us</p>
      </div>

      <div>
        <p class="text">to the half-dead face of reality?</p>
      </div>

      <div>
        <p class="text">To whom do we owe our lives?<br>How much do we pay to be alive?</p>
      </div>

      <div>
        <p class="text">Who thanks us for the rage we feel<br>in the center of the chest,</p>
      </div>

      <div>
        <p class="text">That keeps us from breathing?</p>
      </div>

      <div>
        <p class="text">Which side of the mirror are we on<br>when we look and see nothing—just light and darkness?</p>
      </div>

      <div>
        <p class="text">Is your reflection truly you<br>or is something missing inside?</p>
      </div>

      <div>
        <p class="text">You are unique, no doubt,<br>but you are endless.</p>
      </div>

      <div>
        <p class="text">Will it be your soul that is saved after a sinful life,<br>or will we need to see the other side of the Moon<br>to realize our folly?</p>
      </div>

      <div>
        <p class="text">Is it possible to reach another galaxy?<br>Will another part of me live there?</p>
      </div>

      <div>
        <p class="text">Or maybe I myself in another dimension?</p>
      </div>

      <div>
        <p class="text">Do those who know history<br>know where we’re headed?</p>
      </div>

      <div>
        <p class="text">Or is the truth of our journey hidden within us?</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/en" class="atras" aria-label="Volver">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>