<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>On the Other Side of the Mirror</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        On the Other Side of the Mirror<small class="by">~by Elio Torres</small>
      </div>
      <div class="hard">
      <div class="hard"></div>

      <div>
        <h1 class="text">On the Other Side of the Mirror</h1>
      </div>

      <div>
        <p class="text">Here I am, watching things<br>from a parallel universe,<br>surrendering to the journeys<br>of time and space.</p>
      </div>

      <div>
        <p class="text">Believing freely<br>in the diversity of souls,<br>bridging paths through<br>mountain heartbreak.</p>
      </div>

      <div>
        <p class="text">Peeking, like one who invites mystery<br>to reveal itself patiently,<br>embracing the river’s clarity<br>as it flows to the sea.</p>
      </div>

      <div>
        <p class="text">Saying prayers born of passion,<br>highlighting the predicate<br>of those who fight<br>without rest for a better life.</p>
      </div>

      <div>
        <p class="text">So many things on the other side—<br>odysseys of the past,<br>chiaroscuros in sketches,<br>truth unfiltered,</p>
      </div>

      <div>
        <p class="text">relentless in its journey.</p>
      </div>

      <div>
        <p class="text">What would poets be without poetry?<br>The sun without day?</p>
      </div>

      <div>
        <p class="text">Better to have a piggy bank of kisses,<br>saved each morning for the one who comes<br>from the other world,</p>
      </div>

      <div>
        <p class="text">rising from ocean’s depths,<br>swimming without rest,<br>crossing hot plains barefoot—</p>
      </div>

      <div>
        <p class="text">and from the grave,<br>applying acupuncture<br>to ease the pain.</p>
      </div>

      <div>
        <p class="text">I don’t want to watch from below,<br>receiving in backlight<br>those who walk with virtue<br>from the other side of the mirror.</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras" aria-label="Volver">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>