<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>The Journey</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        The Journey<small class="by">~by Elio Torres</small>
      </div>
      <div class="hard">
      <div class="hard"></div>

      <div>
        <h1 class="text">The Journey</h1>
      </div>

      <div>
        <p class="text">The distance becomes flat, though empty<br>in a voyage to another world; one doesn’t know if it’s a ship or a spacecraft—</p>
      </div>

      <div>
        <p class="text">it really depends on reason,<br>which toys with the space that stretches wide<br>without meaning to.</p>
      </div>

      <div>
        <p class="text">The story begins with a star that shone<br>every three seconds, and one waited<br>an hour for it to sparkle again,</p>
      </div>

      <div>
        <p class="text">its unmatched shape like a blooming rose,<br>its discipline like a soldier in his early days,<br>promised a happy ending.</p>
      </div>

      <div>
        <p class="text">But space expands as always, and it’s unclear<br>if it’s just the beginning<br>or if a black hole dangerously looms.</p>
      </div>

      <div>
        <p class="text">Suddenly I remember that from it,<br>not even light escapes—none has ever been seen,<br>but we know they exist by the intense<br>gravity around them.</p>
      </div>

      <div>
        <p class="text">Just like dawns exist<br>even if one is deep in sleep,<br>yet we notice what we missed<br>from the wetness of the grass, and the sun</p>
      </div>

      <div>
        <p class="text">offering proof of its arrival<br>when in full light, one takes<br>a morning coffee.</p>
      </div>

      <div>
        <p class="text">First, I need the balm to aid me in the<br>duties of a cabin boy, who embraces without punishment<br>his zeal for fasting to reach his destination.</p>
      </div>

      <div>
        <p class="text">I don’t remember the day I set sail—<br>only the reason, and how my lungs breathed,<br>barely noticing.</p>
      </div>

      <div>
        <p class="text">Sometimes they must fail to wake us<br>from the dream of eternity.</p>
      </div>

      <div>
        <p class="text">“Let those who don’t want to feel, not feel,”<br>says an old saying.</p>
      </div>

      <div>
        <p class="text">The apparent normalcy of the voyage,<br>riding solar winds that whip with all severity.</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras" aria-label="Volver">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>