<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>The Misunderstood</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        The Misunderstood<small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div>
        <h1 class="text">The Misunderstood</h1>
      </div>

      <div>
        <p class="text">You are born naked, then you cry, suffer the stress<br>of birth, only to<br>Enjoy a new life—you grow, play, love, and<br>the game begins</p>
      </div>

      <div>
        <p class="text">of understanding the world and having it understand you.</p>
      </div>

      <div>
        <p class="text">The world tells you things, which you assume<br>as true, and they change you</p>
      </div>

      <div>
        <p class="text">Little by little—it’s like changing the flavor of saoco<br>by drinking tequila.</p>
      </div>

      <div>
        <p class="text">It’s like piling up rubble of ideas that have never<br>worked</p>
      </div>

      <div>
        <p class="text">for you. Who understands us in our journey<br>through life?</p>
      </div>

      <div>
        <p class="text">Our thoughts are mysteries, full of frustration,</p>
      </div>

      <div>
        <p class="text">In a sea of temptations, which ignite or<br>extinguish the frenzies</p>
      </div>

      <div>
        <p class="text">that live inside each of us—a misunderstood being, often.</p>
      </div>

      <div>
        <p class="text">The truth is not only one, and we try to have others understand our lies,</p>
      </div>

      <div>
        <p class="text">which without a doubt<br>weigh on us in the future,</p>
      </div>

      <div>
        <p class="text">and respecting the fast of our conscience,<br>our misadventures</p>
      </div>

      <div>
        <p class="text">get confused with a game of winners.</p>
      </div>

      <div>
        <p class="text">What’s the point of losing, when there are so many<br>competitions?</p>
      </div>

      <div>
        <p class="text">It’s worth a lot, a wise man would say on a day of rest,</p>
      </div>

      <div>
        <p class="text">respect, say the elders, for the one who makes a mistake<br>and learns,</p>
      </div>

      <div>
        <p class="text">and the one who unlearns if necessary, to<br>continue</p>
      </div>

      <div>
        <p class="text">our quest to find ourselves.</p>
      </div>

      <div>
        <p class="text">Love yourself<br>first, so that<br>others understand you,</p>
      </div>

      <div>
        <p class="text">respect the legends, when<br>they have meaning,</p>
      </div>

      <div>
        <p class="text">leave behind toxic people. Use the<br>past to understand</p>
      </div>

      <div>
        <p class="text">your present, don’t be afraid to lose the source<br>of your sorrows.</p>
      </div>

      <div>
        <p class="text">Inhale the scent of orange blossoms now and then.</p>
      </div>

      <div>
        <p class="text">You see, it’s not<br>necessary to be understood to move forward,</p>
      </div>

      <div>
        <p class="text">to weave together<br>a plan that includes everyone—maybe just those</p>
      </div>

      <div>
        <p class="text">needed to start your<br>life, and leave behind the routine of letting things slide.</p>
      </div>

      <div>
        <p class="text">Add<br>when necessary,</p>
      </div>

      <div>
        <p class="text">subtract sometimes, and understand that passions<br>are what make us live</p>
      </div>

      <div>
        <p class="text">and we must applaud our performance in life.</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/en" class="atras" aria-label="Back">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>