<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>The Mountain</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        The Mountain<small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div>
        <h1 class="text">The Mountain</h1>
      </div>

      <div>
        <p class="text">Far away, where everything enchants,<br>slowly like the dawn,</p>
      </div>

      <div>
        <p class="text">a sparrow finds happiness,<br>singing a trill that brightens the morning<br>and wakes you with joy.</p>
      </div>

      <div>
        <p class="text">I will be faithful to the river<br>that springs from your depths,</p>
      </div>

      <div>
        <p class="text">bringing pure water<br>and endless stones.<br>Gently I will climb your skirts,<br>making paths up to your summit,</p>
      </div>

      <div>
        <p class="text">not wishing to leave any footprints,</p>
      </div>

      <div>
        <p class="text">while enjoying your essence and<br>your fruit trees,</p>
      </div>

      <div>
        <p class="text">and others of excellent wood,<br>from which guitars and basses are made,</p>
      </div>

      <div>
        <p class="text">where the purest oxygen flows.</p>
      </div>

      <div>
        <p class="text">There where a voice is heard,<br>trapped by the willows,</p>
      </div>

      <div>
        <p class="text">speaking of shadows,<br>and of the rays that slip through the branches,</p>
      </div>

      <div>
        <p class="text">making each day a happy one.</p>
      </div>

      <div>
        <p class="text">I smell the dew,<br>enjoying the landscape,</p>
      </div>

      <div>
        <p class="text">returning from that journey,<br>to which I brought no suitcase.</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/en" class="atras" aria-label="Volver">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>