<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>There Are People</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        There Are People <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div>
        <h1 class="text">There Are People</h1>
      </div>

      <div>
        <p class="text">Some people are unacceptable in your life,<br>There are those who leave marks, like lava on<br>steel,</p>
      </div>

      <div>
        <p class="text">Others slip by and are barely seen,<br>We think of them like that summer that leaves.</p>
      </div>

      <div>
        <p class="text">There are those who cling to your life and won’t<br>let you move on,</p>
      </div>

      <div>
        <p class="text">Some are happy when things go well for you,<br>Others hate your freedom.</p>
      </div>

      <div>
        <p class="text">Some people you barely know, and yet they feel like they’ve<br>been with you your whole life.</p>
      </div>

      <div>
        <p class="text">Others are toxic, they simply<br>want to suffocate you, take away your oxygen and won’t let you breathe.</p>
      </div>

      <div>
        <p class="text">Some become platonic loves,<br>Others are beside you without any condition,</p>
      </div>

      <div>
        <p class="text">Some love you for who you are<br>and others trust in who you can become.</p>
      </div>

      <div>
        <p class="text">There are people who sound like a clatter<br>and won’t let you hear the sweet sound of the pursuit of happiness.</p>
      </div>

      <div>
        <p class="text">There are powerful ones who lie to you,<br>and poor ones who tell the truth.</p>
      </div>

      <div>
        <p class="text">There are wise ones who want you to follow them,<br>There are teachers who give you the chance to learn on your own.</p>
      </div>

      <div>
        <p class="text">There are those who are like the north in your life,<br>there are shooting stars that seem like people.</p>
      </div>

      <div>
        <p class="text">There are sick people who are happy,<br>There are very healthy ones who know only unhappiness.</p>
      </div>

      <div>
        <p class="text">There’s a bit of everything in this world,<br>and I, a fool, discover it every minute.</p>
      </div>

      <div>
        <p class="text">There are people who know everything<br>And don’t enjoy asking questions.</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/en" class="atras" aria-label="Back">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>