<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Ahora que te vas</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Ahora que te vas (..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>
<div>
  <h1 class="text">Ahora que te vas.</h1>
</div>

<div>
  <p class="text">Tengo que decirte tantas cosas y las lágrimas<br>me brotan al pensar que ya te vas.</p>
</div>

<div>
  <p class="text">Solo con recordar nuestros mejores momentos,<br>que tú disipas, sin ningún lamento.</p>
</div>
<div>
  <p class="text">Repaso nuestra vida juntos y no encuentro ya el final,<br>Sumando tiempo al tiempo, y una bala que no<br>Se quiere disparar.</p>
</div>

<div>
  <p class="text">Te quise desde el primer beso, donde supe que no tenías<br>Dueño,<br>y sin cesar en ese empeño,<br>Nunca tan dispuesto, a observar cuanto crecía,<br>Nuestro amor, sin parar,<br>apreciando la melodía que ofrecías en tu andar.</p>
</div>

<div>
  <p class="text">Ahora me dices que te vas,<br>sin querer dar marcha atrás,<br>no te olvides de aquella noche bajo la lluvia,<br>cuando me decías que nunca nos íbamos a separar.</p>
</div>

<div>
  <p class="text">La razón de tu partida no la veo,<br>Aunque me siente a pensar;<br>Ya que siempre, me vienen escenas de una relación sin par.</p>
</div>

<div>
  <p class="text">No me imagino un día sin ti, sin tu olor a hembra<br>Ni tus caricias con ánimos de hechizar.</p>
</div>

<div>
  <p class="text">De qué sirve la noche sin el día?<br>Los poemas sin poesía,<br>Y yo con mi guitarra sin poder tocar,<br>Aquella canción, que repetías hasta la saciedad.</p>
</div>
<div>
  <p class="text">No hacía falta la ebriedad<br>con tu dulzura,<br>Perdiendo la compostura,<br>A la hora de amar.</p>
</div>



      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>
  
    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>