</html><!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Chica sin miedo</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Chica sin miedo(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>
      
      <div><h1 class="text">Chica sin miedo</h1></div>
      <div><p class="text">Vives con calma con armadura de fuego,<br>Tus palabras lentas hieren como espinas,<br>Te sientas con paciencia, de mujer entera.</p></div>
      <div><p class="text">Pasa el tiempo, pero no tu dulzura<br>Con sabor a caña recién cortada.</p></div>
      <div><p class="text">Dicen los que saben que tiene ashé,<br>Que transpira tranquilidad en su andar.</p></div>
      <div><p class="text">Da riendas sueltas a su instinto<br>y busca lo que su corazón le pide.</p></div>
      <div><p class="text">Para que temer?<br>Si la vida nos atrae lo que somos,<br>Si la luz atraviesa las tinieblas,<br>Y está segura con la verdad.</p></div>
      <div><p class="text">No tengas miedo a las palabras que vienen,<br>Al aire que viene del mar.</p></div>
      <div><p class="text">Suspira, pero no solloces a la orilla de un río.</p></div>
      <div><p class="text">Ella no tiene miedo, sin embargo<br>Es callada como templo,<br>Bella como la Virgen de la Caridad.</p></div>
      <div><p class="text">Eres amor, eres presencia,<br>La sencillez resuena en tu cuerpo.<br>Divino tesoro esconde en tus piernas,<br>Eres milagro, eres pasión.</p></div>
      
      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>
  
    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>