<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Chica de Gimnasio</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Chica de gimnasio (..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>
<div>
  <h1 class="text">China de Gimnasio</h1>
</div>
<div>
  <p class="text">Caminaba de forma sencilla,<br>Su cuerpo se contorneaba con moldes mágicos,<br>Seguro era chica de gimnasio.</p>
</div>
<div>
  <p class="text">Sus piernas hablaban de ejercicios y pesas.</p>
</div>
<div>
  <p class="text">Uno escuchaba como quien oye ruiseñores.</p>
</div>
<div>
  <p class="text">Es tan sencilla al trato como una rosa al tacto,<br>Deslumbrante en su talle,<br>Fina como excelente hilo.</p>
</div>
<div>
  <p class="text">El campo ebulle por sus venas,<br>Como el río revuelve su pelo,<br>En un andar infinito, y paradisíaco.</p>
</div>
<div>
  <p class="text">Quien puede no percatarse,<br>Al pasar todos te observan,<br>Unos en silencio,<br>Otros locos por aullar a la luna.</p>
</div>
<div>
  <p class="text">Eres tan simple y tan magnífica,<br>Que solo en una poesía puedes definirte.</p>
</div>
<div>
  <p class="text">Sola y llena de arcoíris,<br>Que importa el corona si puedo tenerte,<br>Aunque sea entre mis brazos,<br>Para tocar tus formas y sentir tu cuerpo de gimnasio,<br>muy junto al mío sin separarse nunca.</p>
</div>
<div>
  <p class="text">La verdad quiero volverte a verte,<br>Pero tengo que esperar,<br>Ojalá no olvides mis palabras,<br>Aunque mi nombre no te di.<br> Eres sirena entre tiburones,<br>Y yo,voy a una aventura entre cliclones</p>
</div>


      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>
  
    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>