</html><!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Desde mi ventana</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Desde mi ventana (..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>
      
      <div><h1 class="text">Desde mi ventana.</h1></div>
      <div><p class="text">Mi ventana siempre está abierta y desde allí veo lo imprevisto,<br>Veo la lluvia caer, y el Sol aparecer.</p></div>
      <div><p class="text">Veo las nubes diciéndome que no lo haga otra vez,<br>Veo el señor de la esquina tomándose un café,<br>Luego al otro día lo veo desaparecer.</p></div>
      <div><p class="text">A veces pienso que mi ventana da al otro mundo,<br>Y me despierto y veo desde lo profundo.</p></div>
      <div><p class="text">Observo un niño jugar descalzo sin miedo,<br>Luego miro una señora gritando sin sentido.</p></div>
      <div><p class="text">Sufre y lo veo desde mi ventana, mi amigo campesino vendiendo<br>Sus productos a un alto precio,<br>no sé a qué hora se levanta para trabajar,<br>Y que importa si le llaman necio.</p></div>
      <div><p class="text">Sigo mirando y veo a un doctor vestido de blanco,<br>Que va a su trabajo aunque no le paguen tanto.</p></div>
      <div><p class="text">Veo a un estudiante que va a la universidad,<br>Con sus ilusiones que le brotan sin parar.</p></div>
      <div><p class="text">Veo a un señor con anillos sentado en un carro moderno,<br>Me pregunto quién será<br>Un profesional, un empresario<br>o el vago del barrio?</p></div>
      <div><p class="text">Me cansó de mirar<br>Y empiezo a imaginar<br>Si pudiera ser diferente<br>Si me sentara en la silla de enfrente,<br>Y observara desde otra perspectiva<br>Cambiando las cosas desde abajo hacia arriba.</p></div>
      <div><p class="text">No quiero salir desde mi ventana lo veo todo: desde lo simple<br>Hasta lo complejo.</p></div>
      <div><p class="text">Antes de salir hay que mirarse al espejo.</p></div>
      <div><p class="text">Mi ventana está ahí,<br>No sé si tengo ganas de mirar,<br>Mejor sería un televisor para cambiarlo de canal.</p></div>
      <div><p class="text">La verdad se ve desde mi ventana, pero quiero levantarme y ayudar a<br>construir otra vista, quiero ver lo caballos correr pero sin pista.<br>Me preguntó si un mundo mejor fuera posible, y me recuerdo de<br>Imagine the people,<br>Cantado por John Lennon</p></div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>
  
    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>