<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>La rumba me llama</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        La rumba me llama(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>
      
      <div><h1 class="text">La rumba me llama.</h1></div>
      <div><p class="text">Suenen los tambores y también el batá,<br>Canten con las mejores voces.</p></div>
      <div><p class="text">Que se sienta aquí y en la Habana.</p></div>
      <div><p class="text">La rumba me está llamando y voy a ir tras de ella.</p></div>
      <div><p class="text">Siento el poder de mis ancestros: el cimarrón con su libertad,<br>Los santos dicen mi nombre, y no puedo dejarlo pasar.</p></div>
      <div><p class="text">El lucumí está conmigo, también está el congo y el yoruba.</p></div>
      <div><p class="text">No los dejos ni por un momento ellos viven en mí y en la rumba.</p></div>
      <div><p class="text">La rumba me llama y yo puedo escucharla desde lejos, siento el eco<br>De los toques, me sumó a ellos y bailo guaguancó, yambú y una Columbia.</p></div>
      <div><p class="text">Lo mismo con una negra, mulata o rubia.</p></div>
      <div><p class="text">Salgan todos a su encuentro, la rumba llama y no engaña.</p></div>
      <div><p class="text">La rumba tiene poder, se lo dan los esclavos africanos,<br>venidos en un barco desde África.</p></div>
      <div><p class="text">Sé lo que ellos sienten cuando suena el tambor y baila una mulata.</p></div>
      <div><p class="text">Lo mismo en un solar, o en la esquina tocado con una lata.</p></div>
      <div><p class="text">La rumba me llama y yo voy, porque me gusta su sonido,<br>y me intriga su música.<br>La rumba no es como ayer, pero para mí es la misma<br>La que tocó Andrea Baró y la que bailó Celeste Mendoza.</p></div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>
  
    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>