<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Las mujeres</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Las mujeres(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>
      
      <div><h1 class="text">Las mujeres</h1></div>
      <div><p class="text">Son blancas, son morenas,<br>Quieren hacer contigo lo que quieran.</p></div>
      <div><p class="text">Son hermosas criaturas hechas para gozar,<br>Saben cuándo desean, dar y quitar.</p></div>
      <div><p class="text">Son únicas en dar placer,<br>pero pueden rápido dejar de querer.</p></div>
      <div><p class="text">Son luces en las sombras,<br>Despedidas en la alfombra.</p></div>
      <div><p class="text">Seres celestiales,<br>Donde brotan manantiales.</p></div>
      <div><p class="text">Dan besos que curan y matan,<br>Que te salvan y que te engañan.</p></div>
      <div><p class="text">Procuras amarlas, y cuidarlas<br>A veces un poco mimarlas.</p></div>
      <div><p class="text">Mas no te equivoques hay que,<br>Estar pendiente de los detalles.<br>No dejar que estalle,<br>En su corazón una voz,<br>Que pueden darte dolor,<br></p></div>
      <div><p class="text">Siempre y cuando lo deseen,<br>Por eso no dejes pasar el tren,<br>De caricias y maniobras,<br>Y no dejar que las sobras,<br>Te amarguen el banquete.<br>No se les puede entender,<br>Pero hay que darles calor,<br>En noches de frío,<br>Y no dejar caer el brío<br>De la primera vez.</p></div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>
  
    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>