<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Mas que un amigo</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Más que un amigo(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>
      
      <div><h1 class="text">Más que un amigo.</h1></div>
      <div><p class="text">No sé dónde estás ni en qué sitio duermes,<br>Pero tengo que decirte que lo siento,<br>amiga.</p></div>
      <div><p class="text">Intenté ser el mejor para ti, ocultando mis sentimientos,<br>Quien soy yo para cambiar el tiempo?</p></div>
      <div><p class="text">Era tu eterno confesor, tu guardián en todos los momentos.</p></div>
      <div><p class="text">Era tu paraguas cuando llovía.</p></div>
      <div><p class="text">Nunca te dije el placer que me daba escucharte, era como respirar poquito a poco después de<br>un gran tormento.</p></div>
      <div><p class="text">Mi obsesión era verte un segundo más cuando te despedías,<br>Solo pensaba por dónde le entra el agua al coco.</p></div>
      <div><p class="text">Te juro que no sabía lo que hacía.</p></div>
      <div><p class="text">Me dejaba llevar por mi corazón,<br>Me veías tan sólo como amigo,<br>Ahora lo veo todo más claro,<br>En tu mundo yo era un buen compañero.</p></div>
      <div><p class="text">En mi realidad tú eras lo que más quería, pero solo andaba en una fantasía.</p></div>
      <div><p class="text">Era un soldado en una guerra sin sentido, tenía menos que un mendigo.</p></div>
      <div><p class="text">Mis mejores años estuve a tu lado, sólo imaginando que me querías como yo lo hacía.</p></div>
      <div><p class="text">Qué estupidez la mía.</p></div>
      <div><p class="text">Ahora estás lejos, mi corazón ha sanado todas sus heridas.</p></div>
      <div><p class="text">Quién lo diría?<br>Solo soy una persona que pasó por tu vida.</p></div>
      <div><p class="text">Sin embargo fui el hombre que estuvo dispuesto a todo por estar contigo cada día.</p></div>
      <div><p class="text">Estábamos en plena juventud, sin pagar ni deber a alguien.</p></div>
      <div><p class="text">No te guardo rencor amiga mía.</p></div>
      <div><p class="text">La bala no llegó en su ruta a la sien.</p></div>
      <div><p class="text">Es mejor tomar agua que seguir con la sequía.</p></div>
      <div><p class="text">Ahora me encuentro en otra dirección.</p></div>
      <div><p class="text">Supongo que la historia dio un vuelco al final.</p></div>
      <div><p class="text">Amo a quien me ama, disfrutando la sensación.</p></div>
      <div><p class="text">No importa el camino, lo esencial es caminar.</p></div>
      <div><p class="text">Hacen falta dos para que el cariño se convierta en pasión.</p></div>
      <div><p class="text">En esta vida he llorado más de mil veces, ahora mi amor crece y crece.</p></div>
      <div><p class="text">Espero hayas encontrado quien te quiera, ya no voy estar más ahí para ti.</p></div>
      <div><p class="text">El árbol consumido ahora reverdece.</p></div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>
  
    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html