<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Me quedo con las dos</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Me quedo con las dos(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>
      
      <div><h1 class="text">Me quedo con las dos.</h1></div>
      <div><p class="text">De ella me gusta el café que prepara,<br>y las conversaciones que tenemos.</p></div>
      <div><p class="text">De la otra me gusta el olor de su piel<br>Y todas las veces que lo hacemos.</p></div>
      <div><p class="text">De una cómo toca la guitarra<br>y su voz de terciopelo.</p></div>
      <div><p class="text">A la otra le encanta dormir tarde,<br>Y el Hip Hop está que arde.</p></div>
      <div><p class="text">No sé por quién decidirme,<br>Una es mi Reina,<br>Y la otra mi Cleopatra.</p></div>
      <div><p class="text">Una viste de azul con un vestido sin escote,<br>La otra con jean apretado,<br>Y con blusa recién lavada.</p></div>
      <div><p class="text">Una tiene el pelo más largo que he visto,<br>La otra tiene el pelo corto más sexy<br>Que he tocado.</p></div>
      <div><p class="text">Gracias a Dios las tengo a las dos,<br>No sé si es pecado quererlas tanto.</p></div>
      <div><p class="text">Me gusta su espalda morena,<br>Y sus blancas manos.</p></div>
      <div><p class="text">De una me gusta su piel rasurada,<br>Filosa al contacto.</p></div>
      <div><p class="text">La otra tiene los que todos andan buscando.</p></div>
      <div><p class="text">Una es de días tristes,<br>Y la otra de fines de semana desenfrenados.</p></div>
      <div><p class="text">Una para tomar mucha cerveza,<br>La otra para degustar un fino whisky.</p></div>
      <div><p class="text">Sé que suena ambicioso,<br>Pero me gustan las dos,<br>A la que le gustan las flores y los poemas<br>Y a la que está llena de tatuajes,<br>Que solo ella comprende.</p></div>
      <div><p class="text">Quien me entiende?<br>Con una de ellas me siento solo,<br>Con las dos me siento lleno.</p></div>
      <div><p class="text">Sé que es peligroso querer tanto a las dos,<br>La verdad está llena de vericuetos,<br>Los gustos son como un final de un viejo cuento.</p></div>
      <div><p class="text">Que nos enseña a seguir nuestro camino<br>Sin demora y sin llanto.</p></div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>
  
    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>