<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Mi cancion</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Mi canción (..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>
      
      <div><h1 class="text">Mi canción</h1></div>
      <div><p class="text">Quiero dedicarte esta canción,<br>La otra la olvidé pensando en ti.</p></div>
      <div><p class="text">Me dijeron que te vieron partir<br>pero yo te dediqué mi tiempo<br>cuando estuviste aquí.</p></div>
      <div><p class="text">La historia ha dado muchas vueltas<br>yo que quería algo de ti<br>pero sin darme cuenta todo te lo di.</p></div>
      <div><p class="text">Eras un misterio cuando te conocí<br>Ahora eres una galaxia inexplorada para mí.</p></div>
      <div><p class="text">Donde tú estabas todo este tiempo<br>Que importa? Yo estaba pensando en ti.</p></div>
      <div><p class="text">No te conocía y ya eras todo para mí<br>Ahora que te he echado un vistazo, no puedo dejarte ir.</p></div>
      <div><p class="text">Solo estaba, solo estoy, mas ahora<br>tengo despierta la pasión que estaba<br>soñando dentro de mí.</p></div>
      <div><p class="text">Cuando te conocí quería darte algo,<br>Algo muy dentro de mí, no sé si era mucho o poco<br>Pero nació algo en su lugar cuando te vi.</p></div>
      <div><p class="text">Parece que fue ayer, o antier<br>la historia se repite una vez más.</p></div>
      <div><p class="text">Yo viéndote partir y mi corazón<br>Sin dejarte ir.</p></div>
      <div><p class="text">No pido consejos, ni los doy hay que vivir<br>Primero la vida y después poder decir,<br>No es la primera vez que perdemos,<br>pero duele más si no lo dejamos ir.</p></div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>
  
    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>