<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Mis poemas</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
       Nis poemas(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>
      
      <div><h1 class="text">Mis poemas.</h1></div>
      <div><p class="text">Escribo con franqueza, y con melodía<br>Agradeciendo la poesía<br>Que sale por mis poros,</p></div>
      <div><p class="text">No quiero barrio rico ni acomodo,<br>Para escribir lo que siento,<br>Doy más de lo que recibo e intento,<br>Calmar las agonías, y las tristezas de los <br>Humanos,</p></div>
      <div><p class="text">Recito doy una mano, a veces doy las dos, no<br>me interesa la fama, ni el triunfo en sí <br>mismo, no.</p></div>
      <div><p class="text">Agradezco por cantar mis propias melodías,<br>Y a pesar que en la cima, no están mis <br>Palabras, doy al viento pasajero,<br>Mis poemas que circulan,<br>En un brote de agua fresca.</p></div>
      <div><p class="text">Este sale por la Montaña más intrincada de la <br>sierra, que no para por la piedras que se <br>encuentran en el camino, <br>y se ríe del destino <br>hasta llegar al mar.</p></div>
      <div><p class="text">De nada vale especular, donde nacen las estrellas,<br>si no crees que una de ellas,<br>puede ser tuya, y calmará ansiedades,<br>del diario y aprender el abecedario,<br>para crear poemas como yo.</p></div>
      <div><p class="text">No defraudes la palabra, que puede cambiar<br>tu vida, y en un desenfreno de fé,<br>te cambie el sabor a café,<br>que tomas cada mañana.</p></div>
      <div><p class="text">Será como cerrar las heridas de un amigo,<br>Que muere al lado tuyo, en una trinchera <br>Dentro de una guerra injusta.</p></div>
      <div><p class="text">Será como una fusta que golpea sin parar,<br>Llorarás como un niño, <br>Que ve a su madre partir,<br>Y solo tendrás que decir,<br>Que buenas son las palabras cuando no quieren herir.</p></div>
      
      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>
  
    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>