<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Mis tres petalos</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Mis tres pétalos (..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>
      
      <div><h1 class="text">Mis tres pétalos.</h1></div>
      <div><p class="text">Se dice de una flor que nace en Cuba,<br>En el campo y en la ciudades y crece <br>más allá de sus fronteras,<br>aunque tienen dos banderas,<br>la cubana es la primera.</p></div>
      <div><p class="text">Los tres pétalos, son fuente de inmensa <br>alegría<br>Y con cuanta fantasía,<br>Puedo acariciar la flor,<br>Y con mucha gente alrededor,<br>Puedo agradecer su amor,</p></div>
      <div><p class="text">Aquellas que con su don <br>cada una con su estilo,<br>su belleza sin par,<br>dan riqueza a todo el mundo,<br>sonriendo desde lo más profundo,<br>a sus seres queridos, dando vida,<br>y sin temor a la partida,<br>dan lo que tienen y más…</p></div>
      <div><p class="text">Mis tres pétalos son las que más quiero en <br>la vida,<br>Van escribiendo con luz fina,<br>Hilvanando mis canciones,<br>Libando como abejas <br>el panal de mis emociones.</p></div>
      <div><p class="text">Le presto brío al momento intenso, <br>Cuando están cerca,<br>El olor de mis tres pétalos <br>inunda toda mi sala,<br>y sale una caravana<br>de historias y una guitarra,<br>y dentro de una jarra <br>hay saoco, dulce aguardiente.</p></div>
      <div><p class="text">Tres pétalos: son mi gente</p></div>
      <div><p class="text">Y mis bellezas sin duda.</p></div>
      
      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>
  
    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>