<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Mi vecina</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Mi vecina(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>
      
      <div><h1 class="text">Mi vecina.</h1></div>
      <div><p class="text">Espero todos los días siempre a la misma hora,<br>Que pase mi vecina, con su piel mestiza,<br>Sin temor a la brisa que pasa por su espalda,<br>Me sofoca su risa y también su falda.</p></div>
      <div><p class="text">Su aire de princesa y sus<br>actos de nobleza.<br>Me sorprenden cada mañana,<br>Y al dar las siete campanadas,<br>Me despierto porque lo que soñé<br>En la noche me da fuerzas a bocanadas.</p></div>
      <div><p class="text">Quiero decirle tantas cosas pero va muy apurada,<br>Le voy a regalar este poema,<br>Para estar en su madrugada.</p></div>
      <div><p class="text">Es doctora pero su profesión es amar a las personas,<br>No es aquella creyentona,<br>Que desluce por las calles.<br>En cambio luce su talle,<br>Saludando a los que pasan.<br>Con su moral alcanza para llenar los mares.</p></div>
      <div><p class="text">No me importa que pare con su dócil armonía,<br>Y con total sinfonía me hable cuándo puede,<br>Aunque a lo mejor no me deje, darle <br>Este,</p></div>
      <div><p class="text"> su poema e invente una estratagema, para dejarme en la tristeza sumido,<br>Sin querer dejar el nido de la paloma callada.</p></div>
      <div><p class="text">Pero no importa, porque de los cobardes<br>no se ha escrito nada.</p></div>
      
      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>
  
    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>