<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Una tarde contigo</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Una tarde contigo(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>
      
      <div><h1 class="text">Una tarde contigo</h1></div>
      <div><p class="text">Era solo un miércoles ocasional,<br>Pasaban las horas y todo estaba igual.<br>Hasta que te vi otra vez, <br>mis ojos brillaron un poco más que el Sol.</p></div>
      <div><p class="text">Sentí una extraña sensación,<br>Como si oyera una vieja canción,<br>Que traía los buenos recuerdos en un vaivén,<br>Era un viaje sin regreso en un viejo tren.</p></div>
      <div><p class="text">Luego fuimos a un café, <br>Y hablamos en una sintonía sinfín.<br>Sentía ser más libre que un delfín,<br>En esos minutos no existía el tiempo,<br>Mi reloj interno se había detenido,<br>Quizás para escuchar tus palabras,<br>Que salían con destreza,<br>Estaba al punto de perder la cabeza.</p></div>
      <div><p class="text">Nunca lo había pensado las mujeres,<br>Tienen el poder de transformarlo todo con una sonrisa,<br>Más sin perder la prisa<br>Prenden fuego con su estilo<br>Linda manera de conquistar la vida,<br>Pueden coser sin hilo.</p></div>
      <div><p class="text">Lucias como una princesa de esta era,<br>Con la espada, a la diestra,<br>Y con un escudo de flores en plena primavera.</p></div>
      <div><p class="text">La verdad la pasé muy bien,<br>Tomé dos cervezas,<br>Y ya me sentía embriagado,<br>No era el alcohol, sin embargo la causa,<br>Eran tus gestos de sensualidad sin pausa.</p></div>
      <div><p class="text">Tus inseguridades, que eran muy normales.<br>No desentonaban con tus virtudes,<br>Con mi silencio al verte pude,<br>Sin querer, quizás con un poco de malicia,<br>pulverizar mi machismo, <br>al aceptar tu invitación,<br>y dedicarte ahora esta canción.</p></div>
      
      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>