<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Un ser de Luz</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Un ser de Luz(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>
      
      <div><h1 class="text">Un ser de luz.</h1></div>
      <div><p class="text">Quisieran las flores, tener tus colores quisiera el universo conservar tu luz.<br>Una luz que vienen de la selva, que la conocen seres místicos, indios antiguos, <br>conocedores de la verdad.</p></div>
      <div><p class="text">Quien te llega a descubrir no se cansa de explorar tus vértices, y tus incontables <br>lados. Será por que la belleza es invisible a los ojos, o porque nuestros sentidos cambian <br>todo lo que está a nuestro alrededor.</p></div>
      <div><p class="text">Eres un misterio de insubordinación al castigo, que se agolpa detrás del camino recorrido.<br>La vida para ti es un placer, y una alegría: lloras, ríes y eres una luciérnaga, que se niega a <br>perderse en la oscuridad de la noche.</p></div>
      <div><p class="text">Tu danzas cuando caminas, caminas cuando decides danzar. Tienes el coraje de una tigresa<br>y en el fondo, bien en el fondo eres una soñadora dispuesta a convertir su legado en un halo <br>de <br>Fé.</p></div>
      <div><p class="text">No temes recorrer nuevos páramos, no te paran los obstáculos y defiendes cada tramo <br>conquistado.</p></div>
      <div><p class="text">Eres un barco de velas hechas de caña con olor a café. No conoces los límites, quien pudiera <br>abrazar tu cintura para siempre y embarcarse un viaje sin regreso, hacia al pasado desde el <br>presente, y sin querer que el futuro nos dé una última despedida.</p></div>
      <div><p class="text">Las olas van y vienen en un recorrido sin fin. Despierto y estás ahí, recta, mundana y <br>apasionada.<br>Lista para preguntar, con la curiosidad de una niña, con ganas de descubrir el mañana.</p></div>
      <div><p class="text">Quien soy yo para acompañarte en tu paso? Estaré listo para tocar la guitarra en un duelo <br>con el tres?</p></div>
      <div><p class="text">Primero debería leer las cartas astronómicas que guardo en un viejo baúl, y después, solo <br>después las romperé y dejaré que tu hechizo de mujer se encargue de buscar el norte, en una <br>relación que no tiene nombre pero es fuerte como el roble, y alto como el bambú.</p></div>
      <div><p class="text">Solo dejaré de creer en ti cuando descubran la última galaxia, a la cual le pondré tu nombre <br>para que quedes suspendida en el espacio y vuelvas a ser un polvo cósmico, como todos.</p></div>
      <div><p class="text">Es mi recuerdo de ti el resumen de lo que escribo, y sin ser obsesivo, te describo con placer, y <br>soy dichoso por conocer a una mujer así.</p></div>
      
      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html