<div class="w-15 h-15 bg-transparent rounded-full relative grid place-content-center animate-bounce">
  <a href="/en" class="absolute inset-0 w-15 h-16 rounded-full flex items-center justify-center gap-1 ml-8">
    🌐
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-big-left">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M20 15h-8v3.586a1 1 0 0 1 -1.707 .707l-6.586 -6.586a1 1 0 0 1 0 -1.414l6.586 -6.586a1 1 0 0 1 1.707 .707v3.586h8a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1" />
    </svg>
  </a>
</div>