<section class="flex justify-center items-center">
  <div class="backdrop-blur-[4px] p-5 rounded-full">
    <article class="bg-[url(/img/bg-page.png)] bg-cover bg-no-repeat bg-center w-75 h-75 mr-0 flex flex-col justify-center align-center">
    <div class="flex flex-col justify-center">
        <p class="text-2xl text-white/70 font-extrabold mr-0">La poesía</p>
        <p class="text-2xl text-white/70 font-extrabold">acbará con la guerra</p>
        <p class="text-2xl text-white/70 text-left font-extrabold">aunque mueran poetas en el proceso</p>
    </div>
</article>
  </div>
</section>