---
import Layout from "../layouts/Layout.astro"
---
<section>
  <article class="grid [grid-template-columns:repeat(auto-fit,minmax(150px,1fr))] gap-3 m-3">
    
    <a href="/poems/ahoraQueTeVas"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Ahora que te vas
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/chicaDeGimnasio"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Chica de Gimnasio
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
  
    <a href="/poems/chicaDePrisa"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Chica de Prisa
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/desdeMiVentana"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Desde mi ventana
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/chicaSinMiedo"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Chica sin miedo
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/elAmor"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          El amor
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/lasMujeres"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Las mujeres
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/elSecreto"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          El secreto
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/laRumbaMeLlama"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          La rumba me llama
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/libreComoElViento"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Libre como el viento
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/masQueUnAmigo"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Más que un amigo
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/meQuedoConLasDos"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Me quedo con las dos
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/miCancion"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Mi canción
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/misPoemas"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Mis poemas
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/misTresPetalos"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Mis tres pétalos
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/miVecina"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Mi vecina
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/perdon"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Perdón
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems2/deElOtroLadoDeElEspejo"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          De el otro lado de el espejo
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
  
    <a href="/poems/poesiaDeEros"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Poesia de Eros
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/unaChicaEspecial"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Una chica especial
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/unAmigo"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Un amigo
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems2/elIncomprendido"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          El Incomprendido
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/unaTardeContigo"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Una tarde contigo
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems/unSerDeLuz"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Un ser de luz
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    <a href="/poems2/espejismo"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Espejismo
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
  
    <a href="/poems2/genteLuminosa"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Gente Luminosa
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
  
    <a href="/poems2/hayPersonas"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Hay personas
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
  
    <a href="/poems2/huracanDeReflexion"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Huracán de reflexión
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
  
    <a href="/poems2/laMontaña"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          La Montaña
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
  
    <a href="/poems2/laTravesia"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          La Travesía
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
  
    <a href="/poems2/losPasosPerdidos"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Los pasos perdidos
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
  
    <a href="/poems2/misAngelesYMisDeminios"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Mis ángeles y mis demonios
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
  
    <a href="/poems2/quienSeAtreve"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          ¿Quién se atreve?
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
  
    <a href="/poems2/razaMambi"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Raza Mambí
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
  
    <a href="/poems2/resistencia"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Resistencia
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
  
    <a href="/poems2/soyDeParis"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Soy de París
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
  
    <a href="/poems2/soyUnCimarron"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Soy un Cimarrón
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
  
    <a href="/poems2/unaMujerEntera"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Una mujer entera
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
  
    <a href="/poems2/yoSe"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Yo sé
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
  
    <a href="/poems2/yoSoy"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          Yo soy
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~por Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
  </article>
</section>

<div class="bg-gradient-to-br from-extra-light-brown via-primary-gold to-light-brown w-16 h-16 rounded-full fixed bottom-7 right-7 flex justify-center items-center overflow-hidden animate-fade-in-bottom">
  <a href="#inicio" 
     title="inicio"
     class="card-poema grid place-content-center">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M9 20v-8h-3.586a1 1 0 0 1 -.7 -1.707l6.586 -6.586a1 1 0 0 1 1.414 0l6.586 6.586a1 1 0 0 1 -.707 1.707h-3.586v8a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
    </svg>
  </a>
</div>

<style>
  .animate-fade-in-bottom {
    animation-timeline: view();
    animation-range: entry 100% cover 50%;
  }
  
  .card-poema {
    opacity: 0.7;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: scale(1);
  }

  .card-poema:hover,
  .card-poema:active {
    opacity: .8;
    transform: scale(1.05);
  }
</style> 