<section>
  <article class="grid [grid-template-columns:repeat(auto-fit,minmax(150px,1fr))] gap-3 m-3">
    
    <a href="/en/iAm"
       class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
      <div class="absolute inset-0 p-[3px] pointer-events-none">
        <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
      </div>

      <div class="relative z-10 grid place-content-center text-center px-4">
        <img src="/img/book.webp"
             alt="book"
             class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

        <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
          I Am
        </h1>
        <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
          ~by Elio Torres
        </p>

        <img src="/img/book.webp"
             alt="book"
             class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
      </div>
    </a>
    
    
    <a href="/en/aBeingOfLight"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      A Being of Light
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>


    <a href="/en/aWholeWoman"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      A Whole Woman
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>

    <a href="/en/hurricaneofReflection"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      Hurricane of Reflection
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>

<a href="/en/fromMyWindow"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      From My Window
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>

<a href="/en/fusion"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      Fusion
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>

<a href="/en/freeLikeTheWind"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      Free Like The Wind
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>
<a href="/en/lostSteps"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      Lost Steps
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>

<a href="/en/imFromParis"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      I'm From Paris
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>

<a href="/en/iKnow"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      I Know
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>

<a href="/en/iAmACimarron"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      I Am a Cimarrón
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>
    
    <a href="/en/resistance"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      Resistance
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>

<a href="/en/onTheOtherSideOfTheMirror"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      On The Other Side Of The Mirror
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>

<a href="/en/mirage"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      Mirage
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>

<a href="/en/miAngelAndMyDemons"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      Mi Angel And My Demons
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>

<a href="/en/mambiRace"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      Mambí Race
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>

    <a href="/en/luminousPeople"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      Luminous People
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>

<a href="/en/thereArePeople"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      There Are People
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>

<a href="/en/theMountain"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      The Mountain
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>

<a href="/en/theMisunderstood"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      The Misunderstood
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>

<a href="/en/theJourney"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      The Journey
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>

    <a href="/en/whoDares"
   class="group card-poema relative w-full h-[250px] bg-gradient-to-br from-gold via-gold-white to-gold rounded-lg shadow-[0_0_20px_rgba(0,0,0,0.2)] overflow-hidden transition-all duration-300 ease-in-out hover:opacity-100 opacity-90">
  <div class="absolute inset-0 p-[3px] pointer-events-none">
    <div class="w-full h-full bg-gold-light border-1 border-gold"></div>
  </div>

  <div class="relative z-10 grid place-content-center text-center px-4">
    <img src="/img/book.webp"
         alt="book"
         class="w-1/2 mx-auto mb-2 opacity-80 transition-transform duration-300 group-hover:scale-105 mt-5" />

    <h1 class="text-[1rem] text-[#5c3a00] drop-shadow-2xl font-serif tracking-wide font-semibold">
      Who Dares
    </h1>
    <p class="text-[0.5rem] text-[#5c3a00] drop-shadow-2xl font-serif font-semibold tracking-wide">
      ~by Elio Torres
    </p>

    <img src="/img/book.webp"
         alt="book"
         class="reflejo w-1/2 mx-auto mt-2 opacity-80 rotate-180 transition-transform duration-300 group-hover:scale-105 [mask-image:linear-gradient(to_bottom,black,transparent)] mask-repeat-no-repeat mask-size-full" />
  </div>
</a>
  </article>
</section>
    

<div class="fixed bottom-4 left-4 z-50">
  <a href="/"
     class="w-16 h-16 backdrop-blur-md bg-white/10 hover:bg-white/20 hover:scale-110 transition-all duration-300 ease-in-out text-white rounded-full grid place-content-center shadow-lg">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M20 15h-8v3.586a1 1 0 0 1 -1.707 .707l-6.586 -6.586a1 1 0 0 1 0 -1.414l6.586 -6.586a1 1 0 0 1 1.707 .707v3.586h8a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1" />
    </svg>
  </a>
</div>

<style>
  .animate-fade-in-bottom {
    animation-timeline: view();
    animation-range: entry 100% cover 50%;
  }
  
  .card-poema {
    opacity: 0.7;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: scale(1);
  }

  .card-poema:hover,
  .card-poema:active {
    opacity: .8;
    transform: scale(1.05);
  }
</style> 