---
import {ViewTransitions} from "astro:transitions"
import Header from "../components/Header.astro";
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="es">
  <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Explora un universo de versos que celebran la emoción, la identidad y la belleza. Vive la poesía en cada palabra, en cada silencio." />
  <meta name="author" content="Hexvibes-dev" />
  <meta name="theme-color" content="#1e1e2e" />
  <meta name="robots" content="index, follow" />

  <!-- Open Graph para redes sociales -->
  <meta property="og:title" content="Vive la poesía" />
  <meta name="twitter:description" content="Colección de poemas con lectura simple y sin distracciones." />
  <meta property="og:image" content="/img/og-poesia.webp" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="es_ES" />
  <meta property="og:url" content="https://vivelapoesia.surge.sh" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Vive la poesía" />
  <meta name="twitter:description" content="Colección de poemas con lectura simple y sin distracciones." />
  <meta name="twitter:image" content="/img/og-page.webp" />

  <link rel="icon" type="image/png" href="/img/icon/favicon.png" />
  <title>Vive la poesía</title>
</head>
  <body>
    <ViewTransitions />
    <div class="background-fixed"></div>
    <Header />
    <slot />
  </body>
</html>

    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Sunshiney-Regular , 'cursive';
      }

      body {
        position: relative;
        min-height: 100vh;
        overflow-x: hidden;
        font-family: sans-serif;
      }

      .background-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('/img/background.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
      }
    </style>