---
import {ViewTransitions} from "astro:transitions"
import Header from "../components/Header.astro";
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./icons/feather.svg" />
    <title>Vive la poesía</title>
  </head>
  <body>
    <ViewTransitions />
    <div class="background-fixed"></div>
    <Header />
    <slot />
  </body>
</html>

    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Sunshiney-Regular , 'cursive';
      }

      body {
        position: relative;
        min-height: 100vh;
        overflow-x: hidden;
        font-family: sans-serif;
      }

      .background-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('/img/background.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
      }
    </style>