<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>El incomprendido</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        El incomprendido(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div><h1 class="text">El incomprendido.</h1></div>
      <div><p class="text">Naces desnudo luego lloras, sufres ese estrés de <br>nacer, para poder<br>Disfrutar de una vida nueva, creces, juegas, amas y<br>comienza el<br>Juego de comprender el mundo y que te <br>comprendan a ti.</p></div>
      <div><p class="text">El mundo te dice cosas, las que asumes como <br>ciertas, y te cambian<br>Poco a poco, es como cambiar el sabor a saoco, <br>tomándote un tequila.</p></div>
      <div><p class="text">Es como apilar escombros de ideas, que no han <br>funcionado <br>Para ti. ¿Quién nos comprende en nuestro andar <br>por la vida?</p></div>
      <div><p class="text">Es un misterio nuestros pensamientos, llenos de <br>frustraciones,<br>En un mar de tentaciones, que encienden o <br>apagan los frenesís que viven dentro de uno, que es un ser <br>incomprendido, en muchas ocasiones.</p></div>
      <div><p class="text">La verdad no es solo una, y tratamos que los otros <br>comprendan nuestras mentiras, que sin lugar a <br>dudas, nos pesan a futuro,<br>y respetando el ayuno de nuestras conciencias, <br>confunden<br>nuestras peripecias, con el juego del quien gana.</p></div>
      <div><p class="text">¿De qué vale perder, cuando las competencias son <br>tantas?<br>Vale mucho diría un sabio en un día de asueto, <br>respeto dirían los ancianos, al que se equivoca<br>y aprende, y al que desaprende si es preciso, para <br>seguir<br>nuestra búsqueda de nosotros mismos.</p></div>
      <div><p class="text">Amate <br>primero, para que <br>así te comprendan, respeta las leyendas, cuando <br>tienen significado,<br>deja a un lado las personas tóxicas. Utiliza el <br>pasado para entender<br>tu presente, no tengas miedo de perder la fuente <br>de tus pesares.</p></div>
      <div><p class="text">Inhala el aroma de los azahares de vez en cuando. <br>Ya ves, no hace<br>falta que te comprendan para poder avanzar, para <br>poder hilvanar,<br>un plan donde estén todos, quizás los necesarios <br>para emprender tu<br>vida, y dejar la rutina de todo dejarlo pasar.</p></div>
      <div><p class="text">Sumar <br>cuando es necesario,<br>restar en ocasiones, y asumir que las pasiones son <br>las que nos hacen vivir<br>y debemos aplaudir nuestra actuación en la vida.</p></div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>
