<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Fusion</title>
    <link rel="stylesheet" href="/css/poems-styles.css" />
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Fusión<small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div>
        <h1 class="text">Fusión</h1>
      </div>

      <div>
        <p class="text">Quiero chocar contigo <br>como las olas lo hacen con rocas,</p>
      </div>

      <div>
        <p class="text">como el viento acaricia las montañas.</p>
      </div>

      <div>
        <p class="text">Me levanto cada día pensando lo mismo,<br>dame la oportunidad,</p>
      </div>

      <div>
        <p class="text">de tocarte hasta el infinito,<br>hacer realidad ese mito,</p>
      </div>

      <div>
        <p class="text">Que se convierte tu presencia,<br>y sentir tu esencia en todo mi cuarto.</p>
      </div>

      <div>
        <p class="text">Sé que tú quieres darme un besito,<br>y salir corriendo tal colegiala,</p>
      </div>

      <div>
        <p class="text">sin embargo dentro de mí<br>estalla la pasión guardada solo para ti.</p>
      </div>

      <div>
        <p class="text">Quiero que me regales una noche,<br>la cual seguro será inolvidable,</p>
      </div>

      <div>
        <p class="text">yo acariciando tu figura<br>y tú llorando para que siga,</p>
      </div>

      <div>
        <p class="text">y no me quede en el principio,<br>llevarte hasta el precipicio,</p>
      </div>

      <div>
        <p class="text">y hacerte volar desde allí.</p>
      </div>

      <div>
        <p class="text">Sé que somos compatibles,<br>como la noche y el día,</p>
      </div>

      <div>
        <p class="text">el poeta y la poesía,<br>igual que el Sol y las estrellas.</p>
      </div>

      <div>
        <p class="text">Me presiento que estoy cerca,<br>que al darme la vuelta tú serás mi princesa,</p>
      </div>

      <div>
        <p class="text">y no habrá más tristeza<br>y seremos uno solo,</p>
      </div>

      <div>
        <p class="text">dominaremos el cielo.<br>Viajaremos sin freno</p>
      </div>

      <div>
        <p class="text">hasta llegar al orgasmo sin fin.</p>
      </div>

      <div>
        <p class="text">Eres la que me excita,<br>y conmigo te sientes mujer,</p>
      </div>

      <div>
        <p class="text">y te quieres poner una blusa transparente,<br>queriendo nublar mí mente,</p>
      </div>

      <div>
        <p class="text">pero mi veneno está presente en cada palabra que digo,</p>
      </div>

      <div>
        <p class="text">y te hago sollozar toda en cualquier parte que estoy,</p>
      </div>

      <div>
        <p class="text">ya sea un beso en tu cuello,<br>o acariciando tu pelo,</p>
      </div>

      <div>
        <p class="text">trabajando sin desvelo,<br>para hacerte sentir la única chica en mi historia.</p>
      </div>

      <div>
        <p class="text">Seguro estará en mi memoria,<br>el tiempo que estamos juntos,</p>
      </div>

      <div>
        <p class="text">fusionarnos tan profundo<br>que sólo seamos átomos.</p>
      </div>

      <div>
        <p class="text">Dividirnos será imposible,<br>la novela de amor será creíble,</p>
      </div>

      <div>
        <p class="text">seremos los novios más envidiados del mundo.</p>
      </div>

      <div>
        <p class="text">Sonará desde lo profundo de tu corazón una voz,<br>de chica satisfecha,</p>
      </div>

      <div>
        <p class="text">y nuestro idilio no tendrá lugar ni fecha.</p>
      </div>

      <div>
        <p class="text">Será como visitar Europa,<br>visitar Atenas y Lisboa,</p>
      </div>

      <div>
        <p class="text">pasar también por París,<br>decirte desde allí, mami Te deseo.</p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras" aria-label="Volver">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left" aria-hidden="true">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>