<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Fusion</title>
    <link rel="stylesheet" href="/css/poems-styles.css" />
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
      <div class="hard">
        Fusión<small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div>
        <h1 class="text">Fusión</h1>
      </div>

      <div>
        <p class="text">Quiero chocar contigo <br>como las olas lo hacen con 
rocas,<br> como el viento acaricia las 
montañas.<br>
Me levanto cada día pensando lo mismo,<br> dame la <br>
oportunidad, de tocarte hasta el infinito, 
hacer realidad ese mito,<br>
Que se convierte tu presencia, y sentir tu esencia <br>
en todo mi cuarto.</p>
      </div>

      <div>
        <p class="text">Sé que tú quieres darme un besito, y salir <br>
corriendo tal colegiala, sin embargo dentro de <br>
mí estalla la pasión guardada solo para ti.<br>
Quiero que me regales una noche, la cual seguro <br>
será inolvidable, yo acariciando tu figura y tú <br>
llorando para que siga,<br> y no me quede en el <br>
principio, <br>llevarte hasta el precipicio, <br>y hacerte 
volar </p>
      </div>

      <div>
        <p class="text">
          desde allí.<br>
Sé que somos compatibles, <br>como la noche y el día, <br>
el poeta y la poesía,<br> igual que el Sol y las estrellas.<br>
Me presiento que estoy cerca,<br> que al darme la <br>
vuelta tú serás mi princesa,<br> y no habrá más tristeza <br>
y seremos uno solo, <br>dominaremos el cielo. <br>
Viajaremos sin freno <br>hasta llegar al orgasmo sin 
fin.<br>
Eres la que me excita,<br> y conmigo te sientes mujer, 
y te quieres poner una blusa <br>
transparente, <br>queriendo nublar mí mente, 
        </p>
      </div>
      
      <div>
        <p class="text">
          pero mi 
veneno está presente en cada <br>
palabra que digo, <br>y te hago sollozar toda en <br>
cualquier parte que estoy,<br> ya sea un beso en tu <br>
cuello, <br>
o acariciando tu pelo,<br> trabajando sin desvelo, para <br>
hacerte sentir la única chica en mi historia.<br>
Seguro estará en mi memoria,<br> el tiempo que 
estamos juntos, <br>fusionarnos tan 
profundo que sólo seamos átomos.<br>
Dividirnos será imposible,<br> la novela de amor será 
        </p>
        
        <div>
        <p class="text">
          creíble,<br> seremos los novios más envidiados del mundo.<br> Sonará desde lo profundo <br>
de tu corazón una voz,<br> de chica satisfecha, y <br>
nuestro idilio no tendrá lugar ni fecha.
Será como visitar Europa,<br> visitar Atenas y Lisboa, <br>
pasar también por París, <br>decirte
desde allí, mami Te deseo.<br>
        </p>
      </div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras" aria-label="Volver">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-left" aria-hidden="true">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>

    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>