<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Hay personas</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Hay personas(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div><h1 class="text">Hay personas</h1></div>
      <div><p class="text">Algunas personas son inaceptables en tu vida,<br>Hay quienes dejan huellas, como la lava en el <br>acero,<br>Hay otras que se escurren y apenas se ven,<br>Pensamos en ellas como aquel verano que se va.</p></div>
      <div><p class="text">Hay quienes se aferran a tu vida, y no te dejan <br>avanzar,<br>Las hay que se alegran cuando te va bien,<br>Otras que odian tu libertad.</p></div>
      <div><p class="text">Hay personas que conoces apenas, y sientes que te <br>acompañan <br>Toda una vida. Hay otras tóxicas, que simplemente <br>te quieren <br>sofocar, te quitan el oxígeno y no te dejan respirar.</p></div>
      <div><p class="text">Hay quienes se convierten en amores platónicos,<br>Otros están a tu lado sin ninguna condición,<br>Hay personas que te aman por quien eres y otras <br>que confían en lo que puedes convertirte.</p></div>
      <div><p class="text">Hay personas que suenan como un cacharro y no <br>te dejan escuchar,<br>el dulce sonido de la búsqueda de la felicidad.</p></div>
      <div><p class="text">Hay poderosos que te mienten, y pobres que te <br>dicen la verdad.</p></div>
      <div><p class="text">Hay sabios que quieren que los sigas,<br>Hay maestros que te dan la oportunidad de <br>aprender por ti<br>mismo. Hay quienes son como el norte en tu vida,<br>hay estrellas fugaces que parecen personas.</p></div>
      <div><p class="text">Hay personas enfermas que son felices,<br>Hay otras muy sanas que solo conocen la <br>infelicidad.</p></div>
      <div><p class="text">Hay de todo en este mundo, yo que soy un tonto <br>Lo descubro a cada minuto. Hay gente que lo sabe <br>todo<br>Y no disfruta hacer preguntas.</p></div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>
