<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Huracán de reflexión</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Huracán de reflexión(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div><h1 class="text">Huracán de reflexión.</h1></div>
      <div><p class="text">El camino no está hecho, el caminante lo hace al <br>caminar.</p></div>
      <div><p class="text">No dejes de ver el bosque porque hay un árbol <br>cercano,</p></div>
      <div><p class="text">Descubre, siente, coquetea con el mundo y el <br>amor te encontrará<br>Sentando en un viejo parque, tomando un rico <br>café, quizás <br>Bailando un sabroso son.</p></div>
      <div><p class="text">No dejes de soñar, <br>disfruta cada momento,<br>Deja que la vida fluya, fluye tú también, respira, <br>vive, asume cada<br>instante como el último.</p></div>
      <div><p class="text">Convéncete de que la <br>vida es una sola, no<br>dañes a nadie en tu andar, resume tu tristeza en <br>una canción y mejórala<br>con tus actos.</p></div>
      <div><p class="text">Sé brisa con palabras, sé un huracán <br>de reflexión,<br>Conviértete en tornado con tus acciones y <br>revoluciona el mundo.</p></div>
      <div><p class="text">No dejes de buscar pero déjate encontrar, esa la <br>respuesta que te<br>Dan estos versos, y un maleducado poeta no lo <br>deja de repetir.</p></div>
      <div><p class="text">Vive, Vive, Vive, asume tu mortalidad, pero <br>recuerda que<br>eres parte del universo, estás hecho de los <br>elementos que<br>nutren la tierra, y que regresarás a ella.</p></div>
      <div><p class="text">Dile a tus <br>seres queridos<br>que los amas, regala flores a cualquier mujer, <br>nuestro destino lo<br>hacemos nosotros cada día, y el amor revolotea <br>como ave, que <br>no quiere tener dueño.</p></div>
      <div><p class="text">Sube la montaña de tu <br>vida, baja por las<br>faldas de una dama, escala cada estrella que <br>encuentres, róbale<br>una historia a un libro, llena de ilusión a los niños, <br>y recuerda el que llevas en tu interior.</p></div>
      <div><p class="text">No le cobres por la <br>energía al portador,<br>no te conviertas en traidor, cambiando de <br>bandera, quema lo <br>que llevas por fuera quédate a solas con tu <br>interior, sé un ser <br>superior, haciendo lo que te gusta diario, y nunca <br>seas presidiario de<br>un amor que no te llega, mira hacia delante y <br>espera que lo tuyo va a llegar.</p></div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>
