<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>La travesía</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        La travesía(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div><h1 class="text">La travesía</h1></div>
      <div><p class="text">La distancia se hace plana, aunque vacía en un <br>viaje al otro mundo,<br>no se sabe si es un barco o en una nave, realmente <br>depende de la razón, que <br>juguetea a través del espacio que abarca mucho <br>sin querer.</p></div>
      <div><p class="text">La historia nace de una de estrella que brillaba <br>cada tres segundos y se esperaba una <br>hora para que iniciara otra vez su tintineo, su <br>figura inigualable de rosa en abundancia,<br>su disciplina de soldado en sus primeros días, <br>auguraba un final feliz.</p></div>
      <div><p class="text">Pero el espacio se expande como siempre, y no se <br>sabe si solo es el comienzo,<br>o si está cerca peligrosamente un agujero negro. <br>De repente recuerdo que de este, no <br>escapa ni la luz, nunca se ha visto uno pero se <br>saben que existen por la intensa gravedad que lo rodea.</p></div>
      <div><p class="text">Así como las madrugadas <br>existen aunque uno esté en pleno <br>sueño, pero se da cuenta de lo que se perdió por la <br>humedad de la yerba, y el sol, dando <br>pruebas de su llegada cuando a plena luz, se toma <br>uno un café todas las mañanas.</p></div>
      <div><p class="text">Primero necesito el bálsamo que me ayude en las <br>tareas del grumete, que asuma sin penitencia su <br>fervor de ayunar para llegar a su destino.</p></div>
      <div><p class="text">No recuerdo el día que salí a navegar solo <br>recuerdo el porqué, y como respiraban mis <br>pulmones, sin apenas darme cuenta.</p></div>
      <div><p class="text">A veces tienen que fallar para despertarnos del <br>sueño de la eternidad. Quien no quiera sentir que <br>no sienta, reza un viejo adagio.</p></div>
      <div><p class="text">La aparente normalidad del viaje, utilizando los <br>vientos solares</p></div>
      <div><p class="text">que azotan con toda severidad.</p></div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>
