<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Los pasos perdidos</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Los pasos perdidos(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div><h1 class="text">Los pasos perdidos</h1></div>
      <div><p class="text">Paso a paso se llega a la cima, sin miedo a lo que <br>viene<br>Con dudas, pero con valentía, con sentimiento se <br>doma<br>Al miedo que llevamos dentro.</p></div>
      <div><p class="text">Caminando dentro <br>de un gran salón, donde no se escuchan tus pasos, <br>pero si se siente <br>un silencio sepulcral, criterios que se pierden, <br>dando pasos<br>sin sentido, sin caer malherido, por no haber bien <br>pedido,</p></div>
      <div><p class="text">el desayuno mañanero, levantarse con esmero, <br>cantando<br>una vieja melodía, recitando poesías de un autor <br>desconocido.</p></div>
      <div><p class="text">recibiendo balas de insomnio por encontrar <br>aquellos pasos<br>desatinados, que alguna vez dimos en nuestra <br>vida,</p></div>
      <div><p class="text">recibiendo y dando, como dulce estampida de <br>unicornios<br>Y viviendo en un parnaso, con musas que nos<br>animan,</p></div>
      <div><p class="text">a escribir más cada día, asumiendo cada parte,<br>sin caer en letra muerta que nos separan del arte,<br>resolviendo acertijos y buscando vida en Marte.</p></div>
      <div><p class="text">No tengo miedo que se pierdan mis pasos, <br>explorando el otro<br>lado de la Luna, o que me llegue la fortuna, cuando <br>estos versos<br>se queden en la memoria del que pasa, sin esperar <br>nada a cambio.</p></div>
      <div><p class="text">Bailar en el escenario al ritmo de Bach, o quien <br>sabe, tirando<br>Un pasillo con la Original de Manzanillo, o coger el <br>paso de la<br>Conga del Guayabito, y oyendo el grito del que <br>Arrolla, aclamando</p></div>
      <div><p class="text">No hay pasos perdidos, la chica rompiendo su <br>vestido, el niño <br>Que observa intranquilo, no te quedes dormido <br>ahora que la noche<br>Empieza, dibujando con certeza la inquietud de la <br>mañana, sonando<br>Una vieja campana, dando el comienzo a una <br>caminata, recordando<br>Los pasos que se pierden, para llegar a la meta, <br>echando flores por una<br>Escopeta.</p></div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>
