<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Mis ángeles y mis demonios</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Mis ángeles y mis demonios(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div><h1 class="text">Mis ángeles y mis demonios</h1></div>
      <div><p class="text">Dan las siete campanadas de una iglesia <br>abandonada,<br>y un par de ángeles me despiertan, abro los ojos y<br>escucho una vieja tonada, que me envuelve, y me <br>lleva a sucumbir con mi demonios.</p></div>
      <div><p class="text">Ello resueltos a<br>no dejarme tranquilo, me enseñan el camino más <br>corto<br>hacia el infierno, así se para el tiempo y acuden a <br>mí<br>los ángeles salvadores y sin preguntarme mucho,</p></div>
      <div><p class="text">cambian los papeles y sin visa ni pasaporte, te <br>llevan<br>hacia el norte porque hacia allí van todos.</p></div>
      <div><p class="text">Descubro<br>que mis demonios están dentro de mí, han vivido <br>siempre alimentándose de las intrigas, los odios,<br>de la envidia y de la desesperación, acumulándose<br>por años.</p></div>
      <div><p class="text">Mis ángeles no tienen miedo, nunca han perdido una batalla, le doy vueltas a mi mata<br>siguaraya, y mis orichas que están en talla,<br>me levantan, me hacen más fácil la lucha que hay<br>dentro de mí.</p></div>
      <div><p class="text">Resuenan las piedras que están en <br>los ríos<br>caudalosos, y se ríe un viejo mirando un pozo sin<br>fondo, que vive dentro de su mente acechando <br>hasta la muerte de una simple hormiga,</p></div>
      <div><p class="text">recitando de memoria los poemas de Neruda.</p></div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>
