<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>¿Quién se atreve?</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        ¿Quién se atreve?(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div><h1 class="text">¿Quién se atreve?</h1></div>
      <div><p class="text">La verdad va muy adentro dónde se encuentra el <br>recuerdo,<br>¿Quién dijo basta cuando todo faltaba por hacer?</p></div>
      <div><p class="text">Los vientos nos llevan hacia el más allá de las ideas <br>y nos confunden con semillas,<br>listas para germinar.</p></div>
      <div><p class="text">Hay veces que de nada vale ser un árbol que no <br>puede caminar,<br>el tiempo va pasando como quien no quiere oír, a <br>pesar de la penumbras,<br>que nos acompañan en ocasiones, algunas para no <br>dejarnos nunca, en este viaje <br>corto, de lecciones de amor.</p></div>
      <div><p class="text">Quien nos inspira a ser mejores, a veces son los <br>gorriones que no se dejan coger,<br>o tal vez la madrugada y un beso que llegue al <br>atardecer.</p></div>
      <div><p class="text">Nunca está limpio el camino, <br>nadie sabe su destino, y quien lo sabe se acobarda <br>y no puede ya cumplir, <br>y deja de decidir por sí mismo, su armonía se <br>trastoca y no puede ya dormir.</p></div>
      <div><p class="text">¿Será funesto pensar en la vida eterna, en la <br>transformación del ser?<br>Conquistando compañías, en vidas paralelas en <br>ecuaciones sin fin, donde el tiempo poco<br>existe y el espacio, es el compás de una canción, <br>por la velocidad de nuestras ideas.</p></div>
      <div><p class="text">Sería gloriosa la vida con los ojos bien abiertos, y <br>los pasos largos para llegar donde no puede<br>el ocaso cuando el Sol se va.</p></div>
      <div><p class="text">Está lista la campana de la iglesia construida en el <br>centro del desierto, para animarnos a llegar al más <br>allá, o quizá el más acá, dibujando una tormenta <br>de nieve ausente de color,<br>pero que la luz traspasa a placer y nos invoca a <br>llegar más lejos, hasta el último lugar del universo, <br>o a lo mejor, hasta este verso que no quiere morir.</p></div>
      <div><p class="text">Libre de teorías, amante del hacer y del entender, <br>es mejor subir tu propia montaña, y plantar una bandera en la cima, quien no se anima a <br>construir su verdad, se queda en el desvío de la <br>vereda,<br>y se enreda en sí misma, y no crece en sincronía.</p></div>
      <div><p class="text">No creo en profetas que no hayan vivido su fé, y <br>que al tomar un café, no se transporta,</p></div>
      <div><p class="text"> y <br>demuestra <br>su aporte de cortesía al ver a una mujer, y disfruta <br>su cuerpo y entrena su olfato con el perfume <br>femenino, que nos llega a contra luz, <br>que es un divino apetito donde no existe la virtud.</p></div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>
