<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Soy de París</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Soy de París(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div><h1 class="text">Soy de París</h1></div>
      <div><p class="text">Vivo en París en tiempos modernos, me gusta el <br>café, los bulevares y Saint German<br>La revolución corre por mis venas, aunque piensen <br>de verás que no.</p></div>
      <div><p class="text">Allá lejos hay una isla donde madura bien el café, <br>donde se baila bien la rumba<br>Y se baila en un solo pie. Yo hablo francés Wi, S’il <br>vous plait.</p></div>
      <div><p class="text">Nada conozco de esa nación, solo sé que se oye <br>lejos un viejo pregón: Maní Maní<br>Mi rico y caliente Maní. Dicen que se toma Ron en <br>cada rincón.</p></div>
      <div><p class="text">¿Será verdad que en Cuba viven en paz o en <br>guerra, quizás en transición?<br>Voy a viajar en el tiempo y romper la tradición<br>Conoceré ese lugar, dicen que hablan español, <br>español muy popular.</p></div>
      <div><p class="text">Solo quiero trasladar mi ilusión verdadera, sufrir <br>de pena por una mulata<br>Danzar al ritmo de una lata. Hablar de política un <br>rato y luego ver una banda de salsa.</p></div>
      <div><p class="text">Estoy lejos pienso cómo será ese país, difícil es <br>discutir sin antes vivir allí.<br>La verdad es diferente para cada persona, déjame <br>descubrir un lugar pobre donde vive el hermano, <br>aunque le digan cubano es un sobreviviente,<br>y te enseña los dientes, por cortesía en cada paso <br>que vas.</p></div>
      <div><p class="text">No puedo dejar atrás mi acento francés, pero sí <br>enriquecerme, de la cultura universal aprender,</p></div>
      <div><p class="text">aprender…</p></div>
      <div><p class="text">Ver desde lo profundo: nadar en ambos mundos, <br>en un solo viaje de Fé.</p></div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>
