<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Soy un cimarrón</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Soy un cimarrón(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div><h1 class="text">Soy un cimarrón.</h1></div>
      <div><p class="text">Que tiemble todo a nuestro alrededor, porque <br>amo la libertad,<br>Soy de estos tiempos y pienso lo que sufrieron <br>nuestros ancestros, <br>Luchando por una mejor vida lejos del látigo y <br>otros maltratos.</p></div>
      <div><p class="text">Hablo por los que no pudieron hacer latente su <br>lamento y por <br>Los que sacudieron su esclavitud, esos que <br>vinieron de África <br>y nunca fueron esclavos de espíritu.</p></div>
      <div><p class="text">Amo la libertad de pensamiento, de credo y de <br>religiones, nacimos libres<br>La sociedad nos va amoldando a su antojo, <br>debemos ser fuertes,<br>Certeros, increíbles y mundanos. Hacer hasta lo <br>imposible para buscar<br>Nuestra razón de ser,</p></div>
      <div><p class="text"> conectarnos con la energía <br>del universo y descubrir nuestro potencial,</p></div>
      <div><p class="text"> mantener guardado el puñal, sin herir siquiera el <br>pétalo de una flor.</p></div>
      <div><p class="text">Sumando nubes al amor, <br>participando en su lluvia, haciendo suya la <br>existencia de un ser superior. Rezar a nuestros <br>dioses, <br>sin mantener la pose,</p></div>
      <div><p class="text">Oír humildemente a un viejo, ayudar a un ciego, <br>superar tu reflejo en el agua <br>más limpia, visitar en sueños a Olimpia, ir a un <br>viejo santuario, dar la vida a <br>diario para no dormirnos en el camino, y defender <br>nuestro destino, si es para <br>bien por supuesto,</p></div>
      <div><p class="text"> vivir sin presupuesto cada día <br>sin parar, proyectar y dejar <br>sanar nuestra más profundas heridas, amar a tu <br>preferida, subir una avenida <br>y disfrutar el proceso: sumar nunca restar, <br>multiplicar hasta el infinito.</p></div>
      <div><p class="text">Hacer <br>real el mito de aquellos que no quisieron vivir en <br>esclavitud, haciendo posible <br>la virtud del alma liberar y refrescar en tiempos <br>como estos.</p></div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>
