<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Una mujer entera</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Una mujer entera(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div><h1 class="text">Una mujer entera.</h1></div>
      <div><p class="text">Se conoció alguna vez, la voz de una mujer,<br>y pasó sin querer un pájaro con su vuelo<br>definiendo la expresión de una canción.</p></div>
      <div><p class="text">Superando el sonido de un trueno,<br>es tu carácter, que se vuelve aroma de jazmín<br>cuando estás feliz, que es siempre.</p></div>
      <div><p class="text">Definiendo tu cuerpo, el cual es una guitarra <br>afinada,<br>que se escucha acompasada, y dulcemente <br>agitada.</p></div>
      <div><p class="text">¿Quién lo diría? Tus besos son poesía, y no crees <br>en <br>cobardías que te afecten tu día.</p></div>
      <div><p class="text">Ya son las nueve y media, y espero nervioso,<br>tu llegada de Reina, suena tu voz que enseña<br>a pensar en el futuro, y ninguno se atreve<br>a dejar entrar por la ventana, esa sonrisa tuya que envuelve cariño, y yo que soy como un niño,<br>no puedo dormir porque riño, con los ángeles y <br>contigo.</p></div>
      <div><p class="text">Eres suave madrugada, a la diestra tu espada,<br>que la usas para dar la última estocada,<br>y hacer estrellas de la nada.</p></div>
      <div><p class="text">Pienso en ti cada mañana, eres como una <br>manzana,<br>con sabor inconfundible, tu perfume que es como <br>el rocío,<br>llena todo el salón. Tú sentada en tu balcón,<br>respirando aire fresco, eres una mujer entera a la <br>cual pertenezco.</p></div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>
