<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/poems-styles.css" />
    <title>Yo soy</title>
  </head>

  <body>
    <div class="flipbook">
      <div class="hard">
        Yo soy(..) <small class="by">~by Elio Torres</small>
      </div>
      <div class="hard"></div>

      <div><h1 class="text">Yo soy</h1></div>
      <div><p class="text">Yo soy el espíritu de un cimarrón, el mambí del <br>siglo XXI,<br>El que nunca espera una llamada, el que siempre <br>está presente cuando duele.</p></div>
      <div><p class="text">Yo soy el heterosexual sin fronteras,<br>el que no teme morir en la hoguera, por miradas <br>inquisitorias.</p></div>
      <div><p class="text">Yo soy el que sufro con el dolor de mi hermano,<br>El que no teme y a veces prefiere dar una mano a <br>un desconocido,</p></div>
      <div><p class="text">Yo soy el que con el ceño fruncido, doy las gracias <br>sin derrochar nada,<br>Yo soy el que durante con mis conversaciones con <br>mi almohada,<br>Ahorro las palabras y prendo la lana.</p></div>
      <div><p class="text">Yo soy el hijo, el hermano y el tío,<br>El que despierta con un suspiro, que resuena en la <br>selva inhóspita del mañana.</p></div>
      <div><p class="text">Yo soy el que deambula en las más oscuras noches,<br>Buscando la luz que habita dentro de mí.</p></div>
      <div><p class="text">Yo el fusil, soy la bala, soy el lápiz y el papel,<br>Soy el diccionario aquel, que cambia todos los días,<br>Adaptándome, al narrador, a un poeta y al suicida.</p></div>
      <div><p class="text">Yo soy el que se desnuda y deja el alma en cada <br>acto,<br>Soy, el que respeta el pacto que una vez hicieron <br>Nuestros antepasados.</p></div>
      <div><p class="text">Yo soy el candomblé, soy Changó, soy Orula.<br>No cambio mi figura, por ser más blanco.<br>Porque lo negro es más puro que un tabaco,</p></div>
      <div><p class="text">Yo soy más que el reflejo de mi espejo donde me</p></div>
      <div><p class="text">Veo a diario, yo soy el que cree en Dios, y rezando<br>Voy caminando y amando.</p></div>

      <div class="hard" id="back"></div>
      <div class="hard"></div>
    </div>

    <a href="/" class="atras">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>
    </a>
    <script src="/scripts/jquery.js" type="module"></script>
    <script src="/scripts/turn.js" type="module"></script>
    <script>
      $(".flipbook").turn();
    </script>
  </body>
</html>
